<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Formation</h3>
  </div>
  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.job.$invalid && form.job.$touched, 'has-success': form.job.$valid && form.job.$touched }">
      <label for="job" class="col-4 col-form-label">Job Number</label>
      <div class="col">
        <input type="text" class="form-control" name="job" id="job" placeholder="" ng-model="$ctrl.data.job" required uib-typeahead="item as item.jobNumber for item in $ctrl.getJobs($viewValue)" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.job.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.formation.$invalid && form.formation.$touched, 'has-success': form.formation.$valid && form.formation.$touched && $ctrl.data.formation.id, 'has-warning': form.formation.$valid && form.formation.$touched && !$ctrl.data.formation.id }">
      <label for="formation" class="col-4 col-form-label">Name</label>
      <div ng-class="{ 'col-8': $ctrl.session.can('formation', 'create'), 'col-6': !$ctrl.session.can('formation', 'create') }">
        <div ng-class="{ 'input-group': $ctrl.session.can('formation', 'create') }">
          <input type="text" class="form-control" name="formation" id="formation" placeholder="" ng-model="$ctrl.data.formation" required uib-typeahead="item as item.itemValue for item in $ctrl.getFormations($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="$ctrl.session.can('formation', 'create')" typeahead-append-to-body="true">
          <span class="input-group-btn" ng-if="$ctrl.session.can('formation', 'create')">
            <button class="btn btn-default" type="button" ng-click="$ctrl.createItem()" ng-disabled="!$ctrl.data.formation || $ctrl.data.formation.id" ng-class="{ 'btn-warning': $ctrl.data.formation && !$ctrl.data.formation.id }">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </span>
        </div>
        <span class="help-block" ng-if="$ctrl.data.formation && !$ctrl.data.formation.id">
          To create this new value click on the <strong>+</strong> button.
        </span>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.formation.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.startDepth.$invalid && form.startDepth.$touched, 'has-success': form.startDepth.$valid && form.startDepth.$touched }">
      <label for="startDepth" class="col-4 col-form-label">Start Depth</label>
      <div class="col-4">
        <input class="form-control" type="number" name="startDepth" id="startDepth" placeholder="" ng-model="$ctrl.data.startDepth" required min="0">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.startDepth.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 0.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.endDepth.$invalid && form.endDepth.$touched, 'has-success': form.endDepth.$valid && form.endDepth.$touched }">
      <label for="endDepth" class="col-4 col-form-label">End Depth</label>
      <div class="col-4">
        <input class="form-control" type="number" name="endDepth" id="endDepth" placeholder="" ng-model="$ctrl.data.endDepth" required min="0">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.endDepth.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 0.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || $ctrl.validatePicklists()">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
