<form id="jobsNew" name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Contract Template</h3>
  </div>
  <div class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <div uib-collapse="isCollapsed" class="form-group row has-feedback"  ng-class="{ 'has-error': form.name.$invalid && form.name.$touched, 'has-success': form.name.$valid && form.name.$touched }">
      <label class="col-4 col-form-label" for="textinput">Name</label>
      <div class="col-6">
        <input type="text" name="name" id="name" class="form-control" ng-model="$ctrl.data.name" required placeholder="" required maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.name.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="maxlength">Length must be lower than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.postScript.$invalid && form.postScript.$touched, 'has-success': form.postScript.$valid && form.postScript.$touched }">
      <label class="col-4 col-form-label" for="textinput">Post script</label>
      <div class="col-8">
        <textarea name="postScript" id="postScript" class="form-control" ng-model="$ctrl.data.postScript" required></textarea>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.postScript.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="maxlength">Length must be lower than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.currency.$invalid && form.currency.$touched, 'has-success': form.currency.$valid && form.currency.$touched }">
      <label for="currency" class="col-4 col-form-label">Currency</label>
      <div class="col-6">
        <select class="form-control" name="currency" id="currency" ng-model="$ctrl.data.currency" ng-options="c as c.itemValue for c in $ctrl.currencies" required></select>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.currency.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="row margin-sm-bottom">
      <div class="col-6 offset-4">
        <button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.addTerm()">Add Term</button>
      </div>
    </div>

    <table class="table table-striped table-bordered table-hover" ng-if="$ctrl.data.contractTerms.length > 0">
      <colgroup>
        <col>
        <col width="33.33333333%">
        <col width="33.33333333%">
        <col width="33.33333333%">
      </colgroup>
      <thead>
        <th></th>
        <th>Description</th>
        <th class="text-center">Reference Cost</th>
        <th class="text-center">Unit</th>
      </thead>
      <tbody>
        <tr ng-repeat="field in $ctrl.data.contractTerms track by $index">
          <td>
            <button type="button" class="btn btn-danger btn-outline btn-xs" uib-tooltip="Delete" ng-click="$ctrl.removeTerm(field)">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </td>
          <td title="Description">
            {{ field.description }}
          </td>
          <td title="Reference Cost" class="text-right">
            {{ field.referenceCost | currency:$ctrl.data.currency.itemValue }}
          </td>
          <td title="Unit" class="text-center">
            {{ field.termUnit.itemValue }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
