<div class="panel panel-default borderless hug" cg-busy="$ctrl.loadingPromise">
  <!-- Body -->
  <div class="panel-body bordered-bottom">
    <div class="dashboard-body">
      <div class="dashboard-group">
        <div class="col-4 dashboard-label">Name</div>
        <div class="col-8 dashboard-input">
          <span editable-text="$ctrl.data.name" onbeforesave="$ctrl.save($data, 'name')" edit-disabled="!$ctrl.session.can('contract', 'edit')" e-required e-maxlength="50">
            {{ $ctrl.data.name | available }}
          </span>
        </div>
      </div>

      <div class="dashboard-group">
        <div class="col-4 dashboard-label">Currency</div>
        <div class="col-8 dashboard-input">
          <span editable-select="$ctrl.data.currency" e-ng-options="currency as currency.itemValue for currency in $ctrl.currencies" onshow="$ctrl.getCurrencies()" onbeforesave="$ctrl.save($data, 'currency')" edit-disabled="!$ctrl.session.can('contract', 'edit')" e-required>
            {{ $ctrl.data.currency.itemValue | available }}
          </span>
        </div>
      </div>

      <div class="dashboard-group">
        <div class="col-4 dashboard-label">Post Script</div>
        <div class="col-8 dashboard-input">
          <span editable-textarea="$ctrl.data.postScript" e-rows="4" onbeforesave="$ctrl.save($data, 'postScript')" e-maxlength="500" edit-disabled="!$ctrl.session.can('contract', 'edit')" e-maxlength="250">
            {{ $ctrl.data.postScript | available }}
          </span>
        </div>
      </div>

      <div class="dashboard-group">
        <div class="col-4 dashboard-label">Active?</div>
        <div class="col-8 dashboard-input">
          <toggle ng-model="$ctrl.data.isActive" size="btn-sm" ng-disabled="!($ctrl.session.can('contract', 'activate') && $ctrl.session.can('contract', 'deactivate'))" ng-change="$ctrl.toggleActivation($ctrl.data)"></toggle>
        </div>
      </div>
    </div>
  </div>
  <!-- /Body -->

  <div class="actions-bar">
    <button class="btn btn-primary btn-outline" type="button" ng-click="$ctrl.addTerm()" ng-if="$ctrl.session.can('contract', 'edit')"><i class="fa fa-fw fa-plus"></i> Add Term</button>

    <div class="pull-right">
      <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    </div>
  </div>

  <div class="table-frame hug borderless" cg-busy="{ promise: $ctrl.loadingPromise, message: !$ctrl.isDeleting ? 'Loading...' : 'Deleting...' }">
    <div class="table-responsive">
      <table class="table table-hover hug" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
        <colgroup>
          <col>
          <col>
          <col width="33.33333333%">
          <col width="33.33333333%">
          <col width="33.33333333%">
        </colgroup>
        <tbody>
          <tr ng-repeat="item in $data">
            <td class="table-numeration">{{ $index + 1 }}</td>
            <td>
              <button type="button" class="btn btn-danger btn-outline btn-xs" uib-tooltip="Delete" ng-click="$ctrl.removeTerm(item)" ng-disabled="!$ctrl.session.can('contract', 'edit')">
                <i class="fa fa-fw fa-times"></i>
              </button>
            </td>
            <td title="'Description'" filter="{ description: 'text' }" sortable="'description'">
              {{ item.description }}
            </td>
            <td title="'Reference Cost'" filter="{ referenceCost: 'number' }" sortable="'referenceCost'" class="text-right">
              {{ item.referenceCost | currency:$ctrl.data.contract.currency.itemValue }}
            </td>
            <td title="'Unit'" sortable="'termUnit.itemValue'" filter="{ 'termUnit.itemValue': 'text' }">
              {{ item.termUnit.itemValue }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


