<!-- Main actions -->
<div class="actions-bar hug">
  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filtros</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Refrescar</button>
  </div>
</div>
<!-- /Main actions -->

<div id="available-chat-list" class="table-frame" cg-busy="$ctrl.loadingPromise">
  <div class="table-responsive">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="32.5%">
        <col width="16.25%">
        <col width="16.25%">
        <col width="35%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data" >
          <td class="text-center row-type {{ item.es_medico ? 'medico' : 'paciente' }}">{{ item.es_medico ? 'Médico' : 'Paciente' }}</td>

          <td title="'Nombre'" filter="{ nombre_completo: 'text' }" sortable="'nombre_completo'" class="text-center text-middle">
            {{ item.nombre_completo | available }}
          </td>

          <td title="'Email'" filter="{ email: 'text' }" sortable="'email'" class="text-center text-middle">
            {{ item.email | available }}
          </td>

          <td title="'Sexo'" filter="{ sexo: 'text' }" sortable="'sexo'" class="text-center text-middle">
            {{ item.sexo | available }}
          </td>

          <td title="'Áreas'" class="text-center text-middle">
            {{ item.areas ? '' : 'N/A' }}
            <span ng-repeat="area in item.areas">
              {{ area.nombre }}{{ $last ? '' : ', ' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>