<div id="available-chat-list" class="table-frame" cg-busy="$ctrl.loadingPromise">
  <div class="table-responsive">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="32.5%">
        <!-- <col width="16.25%"> -->
        <col width="16.25%">
        <col width="51.25%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data" ng-if="$ctrl.session.isAdmin() ? true : (item.es_medico ? (item.id == $ctrl.session.id ? false : true) : false)">
          <td class="text-center row-type {{ item.es_medico ? 'medico' : 'paciente' }}" header="'actions-bar-inline.html'">{{ item.es_medico ? 'Médico' : 'Paciente' }}</td>

          <td title="'Nombre'" filter="{ nombre_completo: 'text' }" sortable="'nombre_completo'" class="text-center text-middle">
            <a href="" ng-if="$ctrl.session.isAdmin()" drilldown="{ title: item.nombre_completo, component: 'usersView', id: item.id }">{{ item.nombre_completo | available }}</a>
            <span ng-if="!$ctrl.session.isAdmin()">{{ item.nombre_completo | available }}</span>
          </td>

          <!-- <td title="'Email'" filter="{ email: 'text' }" sortable="'email'" class="text-center text-middle">
            {{ item.email | available }}
          </td> -->

          <td title="'Sexo'" filter="{ sexo: 'text' }" sortable="'sexo'" class="text-center text-middle">
            {{ item.sexo | available }}
          </td>

          <td title="'Áreas'" class="text-center text-middle">
            {{ item.areas ? '' : 'N/A' }}
            <span ng-if="item.areas.length == 0">Sin áreas asignadas</span>
            <span ng-repeat="area in item.areas">
              <a href="" ng-click="$ctrl.openChat(item, area)">{{ area.nombre }}{{ $last ? '' : ', ' }}</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>