<div class="actions-bar">
  <!-- <button class="btn btn-primary btn-outline" ng-click="$ctrl.settings()">
    <i class="fa fa-fw fa-cog"></i> Settings
  </button> -->

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i> Reload</button>
  </div>
</div>

<div class="margin-sm">
  <div class="row">
    <div class="col-3">
      <div class="box frame">
        <contracts-list></contracts-list>
      </div>
    </div>
    <div class="col-3">
      <div class="box frame">
        <client-contracts-list></client-contracts-list>
      </div>
    </div>
  </div>
</div>
