<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Daily Cost</h3>
  </div>

  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.clientContractTerm.$invalid && form.clientContractTerm.$touched, 'has-success': form.clientContractTerm.$valid && form.clientContractTerm.$touched }">
      <label for="clientContractTerm" class="col-4 col-form-label">Contract Term</label>
      <div class="col-6">
        <input type="text" class="form-control" name="clientContractTerm" id="clientContractTerm" placeholder="" ng-model="$ctrl.data.clientContractTerm" required uib-typeahead="item as item.description for item in $ctrl.getTerms($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.clientContractTerm.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.referenceCost.$invalid && form.referenceCost.$touched, 'has-success': form.referenceCost.$valid && form.referenceCost.$touched }" ng-if="$ctrl.data.clientContractTerm.id">
      <label for="referenceCost" class="col-4 col-form-label">Reference Cost</label>
      <div class="col-6">
        <input class="form-control" type="text" name="referenceCost" id="referenceCost" placeholder="" value="{{ $ctrl.data.clientContractTerm.referenceCost | currency:contract.currency.itemValue }}" readonly="readonly">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.quantity.$invalid && form.quantity.$touched, 'has-success': form.quantity.$valid && form.quantity.$touched }" ng-if="$ctrl.data.clientContractTerm.id">
      <label for="quantity" class="col-4 col-form-label">Unit</label>
      <div class="col-6">
        <input class="form-control" type="text" name="quantity" id="quantity" placeholder="" ng-model="$ctrl.data.clientContractTerm.termUnit.itemValue" readonly="readonly">
     </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.quantity.$invalid && form.quantity.$touched, 'has-success': form.quantity.$valid && form.quantity.$touched }" ng-if="$ctrl.data.clientContractTerm.id">
      <label for="quantity" class="col-4 col-form-label">Quantity</label>
      <div class="col-4">
        <input class="form-control" type="number" name="quantity" id="quantity" placeholder="" ng-model="$ctrl.data.quantity" required min="1">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.quantity.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 1.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-if="$ctrl.data.clientContractTerm.id">
      <label for="total" class="col-4 col-form-label">Total</label>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="" value="{{ $ctrl.data.total | currency:contract.currency.itemValue }}" readonly="readonly">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>

    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || ($ctrl.data.clientContractTerm && !$ctrl.data.clientContractTerm.id) || ($ctrl.data.workingDay && !$ctrl.data.workingDay.id)">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
