<div class="actions-bar bordered-top bordered-lr borderless-bottom">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.creatDailyCost()" ng-disabled="!$ctrl.session.can('daily_cost', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Daily Cost

  <div class="pull-right">
    <button class="btn btn-link pull-right" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
    <button class="btn btn-link pull-right" ng-click="$ctrl.filters = !$ctrl.filters" ><i class="fa fa-fw fa-filter"></i> Filters</button>
  </div>
</div>

<div class="table-frame hug">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
       <col>
        <col>
        <col>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td>
            <button type="button" class="btn btn-danger btn-outline btn-xs" uib-tooltip="Delete" ng-click="$ctrl.removeDailyCost(item)" ng-disabled="!$ctrl.session.can('daily_cost', 'delete')">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </td>

          <td title="'Contract Term'" filter="{ 'clientContractTerm.description': 'text' }" sortable="'clientContractTerm.description'">
            <span editable-text="item.clientContractTerm" e-uib-typeahead="item as item.description for item in $ctrl.getTerms($viewValue)" onbeforesave="$ctrl.save($data, 'clientContractTerm', item)" edit-disabled="!$ctrl.session.can('daily_cost', 'edit')">
              {{ item.clientContractTerm.description | available }}
            </span>
          </td>

          <td title="'Cost'" filter="{ 'clientContractTerm.referenceCost': 'number' }" sortable="'clientContractTerm.referenceCost'" class="text-center">
            {{ item.clientContractTerm.referenceCost | currency | available }}
          </td>

          <td title="'Unit'" filter="{ 'clientContractTerm.termUnit.itemValue': 'text' }"  sortable="'clientContractTerm.termUnit.itemValue'">
            {{ item.clientContractTerm.termUnit.itemValue | available }}
          </td>

          <td title="'Quantity'" filter="{ quantity: 'number' }" sortable="'quantity'" class="text-center">
            <span editable-number="item.quantity" onbeforesave="$ctrl.save($data, 'quantity', item)" edit-disabled="!$ctrl.session.can('daily_cost', 'edit')">
              {{ item.quantity | available }}
            </span>
          </td>

          <td title="'Sub-Total'" class="text-center">
            {{ item.quantity * item.clientContractTerm.referenceCost | currency | available }}
          </td>
        </tr>

        <tr class="bold active" ng-if="$ctrl.tableParams.data.length">
          <td colspan="6" class="text-right">Total:</td>
          <td class="bold text-center">{{ $ctrl.total | currency | available }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
