<div class="actions-bar hug">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('rig', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Rig
  </button>

  <!-- <button class="btn btn-primary btn-outline" ng-click="$ctrl.createType()" ng-if="$ctrl.session.can('rig_type', 'create')">
    Create Type
  </button> -->

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="14%">
        <col width="30%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td title="'Name'" filter="{ name: 'text' }" sortable="'name'" class="text-middle">
            <a href="" drilldown="{ title: item.name, component: 'rigsView', id: item.id }">{{ item.name | available }}</a>
          </td>

          <td title="'Type'" filter="{ 'type.itemValue': 'text' }" sortable="'type.itemValue'" class="text-middle">
            {{ item.type.itemValue | available }}
          </td>

          <td title="'Owner'" filter="{ owner: 'text' }" sortable="'owner'" class="text-middle">
            {{ item.owner | available }}
          </td>

          <td title="'Manufacturer'" filter="{ 'manufacturer': 'text' }" sortable="'manufacturer'" class="text-middle">
            {{ item.manufacturer | available }}
          </td>

          <td title="'Power'" filter="{ 'power': 'text' }" sortable="'power'" class="text-middle">
            {{ item.power | available }}
          </td>

          <td title="'Comments'" filter="{ 'comments': 'text' }" sortable="'comments'">
            {{ item.comments | available }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>










