#bhas {
  .sub-table-frame {
    .sub-table-frame-description {
      max-width: 620px;
    }

    td {
      min-width: 120px;
    }
  }
}


.bha-min-schematic {
  min-width: 45px;
  width: 45px;
  padding: 5px 0 !important;

  img {
    width: 100%;
  }
}
