<div class="modal-header">
  <h3 class="modal-title">Add BHA Component</h3>
</div>
<div class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">
  <div class="bordered">
    <inventory-list selectable="true" select="$ctrl.select(data)" storage="$ctrl.resolve.job.storage" bha-pieces="true"></inventory-list>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
    Cancel
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.data.catalogEntry.id || !$ctrl.quantityAvailable || $ctrl.isSaving">
    <i class="fa fa-fw fa-plus"></i> Add
  </button>
</div>
