<div class="actions-bar hug">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('bha', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create BHA
  </button>

  <button class="btn btn-primary btn-outline" ng-click="$ctrl.addComponent($ctrl.data)" ng-if="$ctrl.data.id && $ctrl.session.can('bha_component', 'create')">
    Add BHA Component
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div id="bhas" cg-busy="$ctrl.loadingPromise">
  <div class="padding-sm bordered-bottom">
    <picker ng-model="$ctrl.data" picker-list="$ctrl.bhas" picker-on-change="$ctrl.setBha($item)" title-attr="name"></picker>
  </div>

  <div class="padding-sm">
    <!-- <div class="clearfix">
      <h3 class="hug-top">
        <span editable-text="$ctrl.data.name" onbeforesave="$ctrl.save($data, 'name', item)" e-required e-maxlength="25" edit-disabled="false">
          {{ $ctrl.data.name | available }}
        </span>
      </h3>
    </div> -->

    <div class="table-frame hug">
      <div class="table-responsive">
        <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
          <colgroup>
            <col>
            <col>
            <col width="18.75%">
            <col width="25%">
            <col width="18.75%">
            <col width="18.75%">
            <col width="18.75%">
            <col>
          </colgroup>
          <tbody>
            <tr ng-repeat-start="item in $data">
              <td class="table-numeration">{{ item.order + 1 }}</td>

              <td class="bha-min-schematic">
                <img ng-src="{{ item.inventoryEntry.catalogEntry.imagePath }}"/>
              </td>

              <td title="'Type'" filter="{ 'inventoryEntry.catalogEntry.itemType': 'select' }" filter-data="$ctrl.typesArray">
                <a href="" class="small" ng-click="$ctrl.loadDetails(item, item.inventoryEntry.catalogEntry.id)">
                  {{ item.inventoryEntry.catalogEntry.itemType | type:{ 'BHACOMPONENT': 'BHA Component', 'BIT': 'Drill Bit', 'MOTOR': 'Motor', 'WATERPUMP': 'Water Pump' } | available }}
                  <i class="fa" ng-class="{ 'fa-caret-down': !item.isShowing, 'fa-caret-up': item.isShowing }"></i>
                </a>
              </td>

              <td title="'Catalog Entry'" filter="{ 'inventoryEntry.catalogEntry.name': 'text' }" class="row-textarea">
                <a href="" class="bold" drilldown="{ title: item.inventoryEntry.catalogEntry.name, component: 'catalogsView', id: item.inventoryEntry.catalogEntry.id }">{{ item.inventoryEntry.catalogEntry.name | available }}</a>
                <div class="small text-muted" ng-if="item.inventoryEntry.catalogEntry.description">
                  {{ item.inventoryEntry.catalogEntry.description | available }}
                </div>
              </td>

              <td title="'Model'" filter="{ 'inventoryEntry.catalogEntry.model': 'text' }">
                {{ item.inventoryEntry.catalogEntry.model | available }}
              </td>

              <td title="'Manufacturer'" filter="{ 'inventoryEntry.catalogEntry.manufacturer.itemValue': 'text' }">
                {{ item.inventoryEntry.catalogEntry.manufacturer.itemValue | available }}
              </td>

              <td title="'Serial Number'" filter="{ 'inventoryEntry.serialNumber': 'text' }">
                {{ item.inventoryEntry.serialNumber | uppercase | available }}
              </td>
            </tr>

            <tr ng-repeat-end ng-if="item.isShowing">
              <td colspan="7" class="sub-table-frame" cg-busy="item.loadingPromise">
                <h4 class="margin-sm-tb">{{ item.inventoryEntry.catalogEntry.details.name | available }}</h4>
                <p ng-if="item.inventoryEntry.catalogEntry.details.description" class="text-muted sub-table-frame-description">{{ item.inventoryEntry.catalogEntry.details.description | available }}</p>

                <div ng-switch="item.inventoryEntry.catalogEntry.itemType">
                  <div ng-switch-when="BHACOMPONENT">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <colgroup>
                          <col width="20%">
                          <col width="20%">
                          <col width="20%">
                          <col width="20%">
                          <col width="20%">
                        </colgroup>
                        <thead>
                          <th>Model</th>
                          <th>Inner Diameter</th>
                          <th>Outer Diameter</th>
                          <th>Length</th>
                          <th>Nominal Weight</th>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>{{ item.inventoryEntry.catalogEntry.details.model | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.innerDiameter | fraction | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.outerDiameter | fraction | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.length | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.nominalWeight | number | available }}</td>
                          </tr>
                        </tbody>

                        <thead>
                          <th>Dry Weight</th>
                          <th>Max. Torque</th>
                          <th>Top. Conn. Size</th>
                          <th>Top Conn. Type</th>
                          <th>Top Connector</th>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>{{ item.inventoryEntry.catalogEntry.details.dryWeight | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.maxTorque | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.topConnectorSize | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.topConnectorType | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.topConnector | available }}</td>
                          </tr>
                        </tbody>

                        <thead>
                          <th>Bottom Conn. Size</th>
                          <th>Bottom Conn. Type</th>
                          <th>Bottom Connector</th>
                          <th>Fish Neck OD</th>
                          <th>Fish Neck Length</th>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>{{ item.inventoryEntry.catalogEntry.details.bottomConnectorSize | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.topConnectorType | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.topConnector | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.fishNeckOuterDiameter | fraction | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.fishNeckLength | number | available }}</td>
                          </tr>
                        </tbody>

                      </table>
                    </div>
                  </div>
                  <div ng-switch-when="BIT">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <colgroup>
                          <col width="12.5%">
                          <col width="12.5%">
                          <col width="12.5%">
                          <col width="12.5%">
                          <col width="12.5%">
                          <col width="12.5%">
                          <col width="12.5%">
                          <col width="12.5%">
                        </colgroup>
                        <thead>
                          <th>Model</th>
                          <th>Type</th>
                          <th>Size</th>
                          <th>Gauge</th>
                          <th>Bearing Style</th>
                          <th>Bearing Seal</th>
                          <th>Jets</th>
                          <th>Diameter</th>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>{{ item.inventoryEntry.catalogEntry.details.model | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.bitType | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.size | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.gauge | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.numberOfJets | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.bearingStyle | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.bearingSeal | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.diameter | fraction | available }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div ng-switch-when="MOTOR">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <colgroup>
                          <col width="20%">
                          <col width="20%">
                          <col width="20%">
                          <col width="20%">
                          <col width="20%">
                        </colgroup>
                        <thead>
                          <th>Model</th>
                          <th>Displacement</th>
                          <th>Min. Flow Rate</th>
                          <th>Max. Flow Rate</th>
                          <th>Max. WOB</th>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>{{ item.inventoryEntry.catalogEntry.details.model | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.displacement | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.minFlowRate | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.maxFlowRate | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.maxWOB | number | available }}</td>
                          </tr>
                        </tbody>
                        <thead>
                          <th>Max. Diff. Pressure</th>
                          <th>Max. Power</th>
                          <th>Bend Type</th>
                          <th>Length</th>
                          <th>Weight</th>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>{{ item.inventoryEntry.catalogEntry.details.maxDiffPressure | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.maxPower | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.bendType | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.length | number | available }}</td>
                            <td>{{ item.inventoryEntry.catalogEntry.details.weight | number | available }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div ng-switch-when="WATERPUMP">
                    <!-- ... -->
                  </div>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>










