<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create BHA</h3>
  </div>
  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">
    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.name.$invalid && form.name.$touched, 'has-success': form.name.$valid && form.name.$touched }">
      <label for="name" class="col-4 col-form-label">Name</label>
      <div class="col-6">
        <input class="form-control" type="text" name="name" id="name" placeholder="" ng-model="$ctrl.data.name" required maxlength="15">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.name.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="maxlength">Length must be lower than or equal to 15.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.bhaType.$invalid && form.bhaType.$touched, 'has-success': form.bhaType.$valid && form.bhaType.$touched && $ctrl.data.bhaType.id, 'has-warning': form.bhaType.$valid && form.bhaType.$touched && !$ctrl.data.bhaType.id }">
      <label for="bhaType" class="col-4 col-form-label">Type</label>
      <div ng-class="{ 'col-8': $ctrl.session.can('bha_type', 'create'), 'col-6': !$ctrl.session.can('bha_type', 'create') }">
        <div ng-class="{ 'input-group': $ctrl.session.can('bha_type', 'create') }">
          <input type="text" class="form-control" name="bhaType" id="bhaType" placeholder="" ng-model="$ctrl.data.bhaType" uib-typeahead="item as item.itemValue for item in $ctrl.getTypes($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="$ctrl.session.can('bha_type', 'create')" typeahead-append-to-body="true">
          <span class="input-group-btn" ng-if="$ctrl.session.can('bha_type', 'create')">
            <button class="btn btn-default" type="button" ng-click="$ctrl.createType()" ng-disabled="!$ctrl.data.bhaType || $ctrl.data.bhaType.id" ng-class="{ 'btn-warning': $ctrl.data.bhaType && !$ctrl.data.bhaType.id }">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </span>
        </div>
        <span class="help-block" ng-if="$ctrl.data.bhaType && !$ctrl.data.bhaType.id">
          To create this new value click on the <strong>+</strong> button.
        </span>
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.bhaObjective.$invalid && form.bhaObjective.$touched, 'has-success': form.bhaObjective.$valid && form.bhaObjective.$touched && $ctrl.data.bhaObjective.id, 'has-warning': form.bhaObjective.$valid && form.bhaObjective.$touched && !$ctrl.data.bhaObjective.id }">
      <label for="bhaObjective" class="col-4 col-form-label">Objective</label>
      <div ng-class="{ 'col-8': $ctrl.session.can('bha_objective', 'create'), 'col-6': !$ctrl.session.can('bha_objective', 'create') }">
        <div ng-class="{ 'input-group': $ctrl.session.can('bha_objective', 'create') }">
          <input type="text" class="form-control" name="bhaObjective" id="bhaObjective" placeholder="" ng-model="$ctrl.data.bhaObjective" uib-typeahead="item as item.itemValue for item in $ctrl.getObjectives($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="$ctrl.session.can('bha_objective', 'create')" typeahead-append-to-body="true">
          <span class="input-group-btn" ng-if="$ctrl.session.can('bha_objective', 'create')">
            <button class="btn btn-default" type="button" ng-click="$ctrl.createObjective()" ng-disabled="!$ctrl.data.bhaObjective || $ctrl.data.bhaObjective.id" ng-class="{ 'btn-warning': $ctrl.data.bhaObjective && !$ctrl.data.bhaObjective.id }">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </span>
        </div>
        <span class="help-block" ng-if="$ctrl.data.bhaObjective && !$ctrl.data.bhaObjective.id">
          To create this new value click on the <strong>+</strong> button.
        </span>
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.reasonToPull.$invalid && form.reasonToPull.$touched, 'has-success': form.reasonToPull.$valid && form.reasonToPull.$touched && $ctrl.data.reasonToPull.id, 'has-warning': form.reasonToPull.$valid && form.reasonToPull.$touched && !$ctrl.data.reasonToPull.id }">
      <label for="reasonToPull" class="col-4 col-form-label">Reason To Pull</label>
      <div ng-class="{ 'col-8': $ctrl.session.can('bha_reason_to_pull', 'create'), 'col-6': !$ctrl.session.can('bha_reason_to_pull', 'create') }">
        <div ng-class="{ 'input-group': $ctrl.session.can('bha_reason_to_pull', 'create') }">
          <input type="text" class="form-control" name="reasonToPull" id="reasonToPull" placeholder="" ng-model="$ctrl.data.reasonToPull" uib-typeahead="item as item.itemValue for item in $ctrl.getReasonsToPull($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="$ctrl.session.can('bha_reason_to_pull', 'create')" typeahead-append-to-body="true">
          <span class="input-group-btn" ng-if="$ctrl.session.can('bha_reason_to_pull', 'create')">
            <button class="btn btn-default" type="button" ng-click="$ctrl.createReasonToPull()" ng-disabled="!$ctrl.data.reasonToPull || $ctrl.data.reasonToPull.id" ng-class="{ 'btn-warning': $ctrl.data.reasonToPull && !$ctrl.data.reasonToPull.id }">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </span>
        </div>
        <span class="help-block" ng-if="$ctrl.data.reasonToPull && !$ctrl.data.reasonToPull.id">
          To create this new value click on the <strong>+</strong> button.
        </span>
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.propBUR.$invalid && form.propBUR.$touched, 'has-success': form.propBUR.$valid && form.propBUR.$touched }">
      <label for="propBUR" class="col-4 col-form-label">Prop. BUR</label>
      <div class="col-4">
        <input class="form-control" type="number" name="propBUR" id="propBUR" placeholder="" ng-model="$ctrl.data.propBUR">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.description.$invalid && form.description.$touched, 'has-success': form.description.$valid && form.description.$touched }">
      <label for="description" class="col-4 col-form-label">Description</label>
      <div class="col-8">
        <textarea class="form-control resize-vertical" type="text" name="description" id="description" placeholder="" ng-model="$ctrl.data.description" maxlength="500" rows="4"></textarea>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.description.$error" role="alert">
          <span ng-message="maxlength">Length must be lower than or equal to 500.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.performance.$invalid && form.performance.$touched, 'has-success': form.performance.$valid && form.performance.$touched }">
      <label for="performance" class="col-4 col-form-label">Performance</label>
      <div class="col-8">
        <textarea class="form-control resize-vertical" type="text" name="performance" id="performance" placeholder="" ng-model="$ctrl.data.performance" maxlength="500" rows="4"></textarea>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.performance.$error" role="alert">
          <span ng-message="maxlength">Length must be lower than or equal to 500.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || $ctrl.validatePicklists()">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
