<div class="actions-bar">
	<button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('wellbore', 'create')">
		<i class="fa fa-fw fa-plus"></i> Create Wellbore
	</button>

<!-- 	<button class="btn btn-link" ng-click="$ctrl.createWellboreShape()" ng-if="$ctrl.session.can('wellbore_shape', 'create')">
  	Create Shape
	</button>

	<button class="btn btn-link" ng-click="$ctrl.createTargetFormation()" ng-if="$ctrl.session.can('formation', 'create')">
  	Create Formation
	</button> -->

	<div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame hug borderless" cg-busy="$ctrl.loadingPromise">
  <div class="table-responsive">
  	<table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
  		<colgroup>
  			<col>
        <col>
  			<col width="11.1%">
  			<col width="11.1%">
  			<col width="11.1%">
  			<col width="11.1%">
  			<col width="11.1%">
  			<col width="11.1%">
  			<col width="11.1%">
        <col width="11.1%">
  			<col width="11.1%">
  		</colgroup>
  		<tbody>
  			<tr ng-repeat="item in $data track by item.id">
  				<td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td>
            <i ng-if="item.parentWellbore" class="fa fa-fw fa-code-fork fa-rotate-180"></i>
          </td>

          <td title="'Parent'" filter="{ 'parentWellbore.name' : 'text' }" sortable="'parentWellbore.name'">
            <a href="" drilldown="{ title: item.parentWellbore.name, component: 'wellboresView', id: item.parentWellbore.id, jobId: $ctrl.job.id }">{{ item.parentWellbore.name | available }}</a>
          </td>

  				<td title="'Name'" filter="{ 'name' : 'text' }" sortable="'name'">
            <a href="" drilldown="{ title: item.name, component: 'wellboresView', id: item.id, jobId: $ctrl.job.id }">{{ item.name | available }}</a>
  				</td>

          <td title="'Wellbore Shape'" filter="{ 'wellboreShape.itemValue' : 'text' }" sortable="'wellboreShape.itemValue'">
  					{{ item.wellboreShape.itemValue | available }}
  				</td>

					<td title="'Tie-In Depth'" filter="{ 'tieInDepth' : 'number' }" sortable="'tieInDepth'" class="text-center text-middle">
            {{ item.tieInDepth | number | available }}
					</td>

  				<td title="'Total Depth'" filter="{ 'totalDepth' : 'number' }" sortable="'totalDepth'" class="text-center text-middle">
            {{ item.totalDepth | number | available }}
  				</td>

					<td title="'VSD'" filter="{ 'verticalSectionDirection' : 'number' }" sortable="'verticalSectionDirection'" class="text-center text-middle">
            {{ item.verticalSectionDirection | number | available }}
					</td>

					<td title="'Mag. Declin.'" filter="{ 'magDeclin' : 'number' }" sortable="'magDeclin'" class="text-center text-middle">
            {{ item.magDeclin | number | available }}
					</td>

          <td title="'North Reference'" filter="{ 'northReference' : 'text' }" sortable="'northReference'">
  					{{ item.northReference | available }}
					</td>

          <td title="'Target Formation'" filter="{ 'targetFormation.itemValue' : 'text' }" sortable="'targetFormation.itemValue'">
  					{{ item.targetFormation.itemValue | available }}
  				</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>
