<div class="modal-header">
  <h3 class="modal-title">Surveys Bulk Upload</h3>
</div>
<div class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Uploading...' : 'Loading...' }">

  <form name="form">
    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.job.$invalid && form.job.$touched, 'has-success': form.job.$valid && form.job.$touched }">
      <label for="job" class="col-3 col-form-label">Job Number</label>
      <div class="col">
        <input type="text" class="form-control" name="job" id="job" placeholder="" ng-model="$ctrl.job" required uib-typeahead="item as item.jobNumber for item in $ctrl.getJobs($viewValue)" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.job.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>
  </form>



  <div class="input-group input-group-lg">
    <input type="file" class="form-control" name="file" file-chooser="$ctrl.data" required ng-disabled="$ctrl.isSaving" file-change="$ctrl.processFile(data)">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="$ctrl.download()" uib-tooltip="Download Template File" tooltip-append-to-body="true">
        <i class="fa fa-fw fa-question-circle"></i>
      </button>
    </span>
  </div>

  <div class="alert alert-warning padding-sm small margin-xs-tb">
    Duplicate entries will be deleted automatically. All entries with measured depth lower than the wellbore's tie-in depth ({{ $ctrl.resolve.wellbore.tieInDepth | number }}') will be ignored.
  </div>

  <div class="table-responsive bordered margin-sm-top" ng-if="$ctrl.surveys.length">
    <table class="table table-hover hug">
      <colgroup>
        <col>
        <col>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
      </colgroup>
      <thead>
        <th></th>
        <th></th>
        <th class="text-center">Measured Depth</th>
        <th class="text-center">Inclination</th>
        <th class="text-center">Azimuth</th>
        <th class="text-center">Hole Depth</th>
      </thead>
      <tbody>
        <tr class="text-center" ng-repeat="item in $ctrl.surveys" ng-class="{ 'active text-muted': item.measuredDepth < $ctrl.resolve.wellbore.tieInDepth }">
          <td class="table-numeration">{{ $index + 1 }}</td>
          <td>
            <button class="btn btn-danger btn-outline btn-xs" uib-tooltip="Delete" ng-click="$ctrl.remove(item, $index)">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </td>

          <td title="Measured Depth">

            <span editable-number="item.measuredDepth" e-step="any" onaftersave="$ctrl.sort()" e-required e-min="0">
              <i class="fa fa-fw fa-warning text-danger" uib-tooltip="Lower than Tie-In depth ({{ $ctrl.resolve.wellbore.tieInDepth | number }}')" ng-if="item.measuredDepth < $ctrl.resolve.wellbore.tieInDepth"></i>
              {{ item.measuredDepth | number | available }}
            </span>
          </td>

          <td title="Inclination">
            <span editable-number="item.inclination" e-step="any" e-required e-min="0">
              {{ item.inclination | number | available }}
            </span>
          </td>

          <td title="Azimuth">
            <span editable-number="item.azimuth" e-step="any" e-required e-min="0" e-max="360">
              {{ item.azimuth | number | available }}
            </span>
          </td>

          <td title="Hole Depth">
            <span editable-number="item.holeDepth" e-step="any" e-required e-min="0">
              {{ item.holeDepth | number | available }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <not-found expression="!$ctrl.surveys.length && $ctrl.isProcessed"></not-found>
</div>
<div class="modal-footer">
  <div class="pull-left">
    <button class="btn btn-link" type="button" ng-click="$ctrl.create()" ng-if="$ctrl.surveys.length" ng-disabled="$ctrl.isSaving">
      <i class="fa fa-fw fa-plus"></i> Insert Survey
    </button>
  </div>
  <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
    Cancel
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.surveys.length || !$ctrl.job.id || $ctrl.isSaving">
    <i class="fa fa-fw fa-upload"></i> Upload
  </button>
</div>
