<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Mud Check <span class="pull-right">{{ $ctrl.data.checkedAt | date:'dd/MMM/yyyy' }}</span></h3>
  </div>
  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.mudType.$invalid && form.mudType.$touched, 'has-success': form.mudType.$valid && form.mudType.$touched && $ctrl.data.mudType.id, 'has-warning': form.mudType.$valid && form.mudType.$touched && !$ctrl.data.mudType.id }">
      <label for="mudType" class="col-4 col-form-label">Mud Type</label>
      <div ng-class="{ 'col-8': $ctrl.session.can('mud_type', 'create'), 'col-6': !$ctrl.session.can('mud_type', 'create') }">
        <div ng-class="{ 'input-group': $ctrl.session.can('mud_type', 'create') }">
          <input type="text" class="form-control" name="mudType" id="mudType" placeholder="" ng-model="$ctrl.data.mudType" required uib-typeahead="item as item.itemValue for item in $ctrl.getMudTypes($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="$ctrl.session.can('mud_type', 'create')" typeahead-append-to-body="true">
          <span class="input-group-btn" ng-if="$ctrl.session.can('mud_type', 'create')">
            <button class="btn btn-default" type="button" ng-click="$ctrl.createMudType()" ng-disabled="!$ctrl.data.mudType || $ctrl.data.mudType.id" ng-class="{ 'btn-warning': $ctrl.data.mudType && !$ctrl.data.mudType.id }">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </span>
        </div>
        <span class="help-block" ng-if="$ctrl.data.positionType && !$ctrl.data.positionType.id">
          To create this new value click on the <strong>+</strong> button.
        </span>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.mudType.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.checkedAt.$invalid && form.checkedAt.$touched, 'has-success': form.checkedAt.$valid && form.checkedAt.$touched }">
      <label for="checkedAt" class="col-4 col-form-label">Checked At</label>
      <div class="col-4">
        <input class="form-control" type="time" name="checkedAt" id="checkedAt" placeholder="" ng-model="$ctrl.hour" required>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.checkedAt.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.viscosity.$invalid && form.viscosity.$touched, 'has-success': form.viscosity.$valid && form.viscosity.$touched }">
      <label for="viscosity" class="col-4 col-form-label">Viscosity</label>
      <div class="col-4">
        <input class="form-control" type="number" name="viscosity" id="viscosity" placeholder="" ng-model="$ctrl.data.viscosity">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.waterPercentage.$invalid && form.waterPercentage.$touched, 'has-success': form.waterPercentage.$valid && form.waterPercentage.$touched }">
      <label for="waterPercentage" class="col-4 col-form-label">Water Percentage</label>
      <div class="col-4">
        <input class="form-control" type="number" name="waterPercentage" id="waterPercentage" placeholder="" ng-model="$ctrl.data.waterPercentage" min="0" max="100">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.waterPercentage.$error" role="alert">
          <span ng-message="min">Value must be greater than or equal to 0.</span>
          <span ng-message="max">Value must be lower than or equal to 100.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.solidPercentage.$invalid && form.solidPercentage.$touched, 'has-success': form.solidPercentage.$valid && form.solidPercentage.$touched }">
      <label for="solidPercentage" class="col-4 col-form-label">Solid Percentage</label>
      <div class="col-4">
        <input class="form-control" type="number" name="solidPercentage" id="solidPercentage" placeholder="" ng-model="$ctrl.data.solidPercentage" min="0" max="100">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.solidPercentage.$error" role="alert">
          <span ng-message="min">Value must be greater than or equal to 0.</span>
          <span ng-message="max">Value must be lower than or equal to 100.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.gasPercentage.$invalid && form.gasPercentage.$touched, 'has-success': form.gasPercentage.$valid && form.gasPercentage.$touched }">
      <label for="gasPercentage" class="col-4 col-form-label">Gas Percentage</label>
      <div class="col-4">
        <input class="form-control" type="number" name="gasPercentage" id="gasPercentage" placeholder="" ng-model="$ctrl.data.gasPercentage" min="0" max="100">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.gasPercentage.$error" role="alert">
          <span ng-message="min">Value must be greater than or equal to 0.</span>
          <span ng-message="max">Value must be lower than or equal to 100.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>


    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.hardness.$invalid && form.hardness.$touched, 'has-success': form.hardness.$valid && form.hardness.$touched }">
      <label for="hardness" class="col-4 col-form-label">Hardness</label>
      <div class="col-4">
        <input type="number" class="form-control" name="hardness" id="hardness" placeholder="" ng-model="$ctrl.data.hardness">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.chloride.$invalid && form.chloride.$touched, 'has-success': form.chloride.$valid && form.chloride.$touched }">
      <label for="chloride" class="col-4 col-form-label">Chloride</label>
      <div class="col-4">
        <input type="number" class="form-control" name="chloride" id="chloride" placeholder="" ng-model="$ctrl.data.chloride">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.sand.$invalid && form.sand.$touched, 'has-success': form.sand.$valid && form.sand.$touched }">
      <label for="sand" class="col-4 col-form-label">Sand</label>
      <div class="col-4">
        <input type="number" class="form-control" name="sand" id="sand" placeholder="" ng-model="$ctrl.data.sand">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.fluidLoss.$invalid && form.fluidLoss.$touched, 'has-success': form.fluidLoss.$valid && form.fluidLoss.$touched }">
      <label for="fluidLoss" class="col-4 col-form-label">Fluid Loss</label>
      <div class="col-4">
        <input type="number" class="form-control" name="fluidLoss" id="fluidLoss" placeholder="" ng-model="$ctrl.data.fluidLoss">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.sampleTempeture.$invalid && form.sampleTempeture.$touched, 'has-success': form.sampleTempeture.$valid && form.sampleTempeture.$touched }">
      <label for="sampleTempeture" class="col-4 col-form-label">Sample Tempeture</label>
      <div class="col-4">
        <input type="number" class="form-control" name="sampleTempeture" id="sampleTempeture" placeholder="" ng-model="$ctrl.data.sampleTempeture">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.additives.$invalid && form.additives.$touched, 'has-success': form.additives.$valid && form.additives.$touched }">
      <label for="additives" class="col-4 col-form-label">Additives</label>
      <div class="col-8">
        <textarea class="form-control resize-vertical" type="text" name="additives" id="additives" placeholder="" ng-model="$ctrl.data.additives" maxlength="250" rows="4"></textarea>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.additives.$error" role="alert">
          <span ng-message="maxlength">Length must be lower than or equal to 250.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.addtionalComments.$invalid && form.addtionalComments.$touched, 'has-success': form.addtionalComments.$valid && form.addtionalComments.$touched }">
      <label for="addtionalComments" class="col-4 col-form-label">Additional Comments</label>
      <div class="col-8">
        <textarea class="form-control resize-vertical" type="text" name="addtionalComments" id="addtionalComments" placeholder="" ng-model="$ctrl.data.addtionalComments" maxlength="500" rows="4"></textarea>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.addtionalComments.$error" role="alert">
          <span ng-message="maxlength">Length must be lower than or equal to 500.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>

    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || ($ctrl.data.mudType && !$ctrl.data.mudType.id) ">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
