<div class="actions-bar bordered-top bordered-lr borderless-bottom">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.createMud()" ng-disabled="!$ctrl.session.can('mud_check', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Mud Check
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame hug">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
        <col width="7.69%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td title="'Mud Type'" filter="{ 'mudType.itemValue': 'text' }" sortable="'mudType.itemValue'">
            <span editable-select="item.mudType" e-ng-options="type as type.itemValue for type in $ctrl.mudTypes" onshow="$ctrl.getMudTypes()" onbeforesave="$ctrl.save($data, 'mudType', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')" e-required>
              {{ item.mudType.itemValue | available }}
            </span>
          </td>

          <td title="'Checked at'" sortable="'checkedAt'">
            <span editable-timepicker="item.checkedAt" onbeforesave="$ctrl.save($data, 'checkedAt', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')" e-required>
              {{ item.checkedAt | date:'HH:mm' | available }}
            </span>
          </td>

          <td title="'Viscosity'" filter="{ viscosity: 'number' }" sortable="'viscosity'" class="text-center">
            <span editable-number="item.viscosity" onbeforesave="$ctrl.save($data, 'viscosity', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.viscosity | number | available }}
            </span>
          </td>

          <td title="'Water (%)'" filter="{ waterPercentage: 'number' }" sortable="'waterPercentage'" class="text-center">
            <span editable-number="item.waterPercentage" onbeforesave="$ctrl.save($data, 'waterPercentage', item)" e-min="0" e-max="100" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.waterPercentage | number | available }}
            </span>
          </td>

          <td title="'Solid (%)'" filter="{ owner: 'number' }" sortable="'solidPercentage'" class="text-center">
            <span editable-number="item.solidPercentage" onbeforesave="$ctrl.save($data, 'solidPercentage', item)" e-min="0" e-max="100" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.solidPercentage | number | available }}
            </span>
          </td>

          <td title="'Gas (%)'" filter="{ 'gasPercentage': 'number' }" sortable="'gasPercentage'" class="text-center">
            <span editable-number="item.gasPercentage" onbeforesave="$ctrl.save($data, 'gasPercentage', item)" e-min="0" e-max="100" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.gasPercentage | number | available }}
            </span>
          </td>

          <td title="'Hardness'" filter="{ 'hardness': 'number' }" sortable="'hardness'" class="text-center">
            <span editable-number="item.hardness" onbeforesave="$ctrl.save($data, 'hardness', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.hardness | number | available }}
            </span>
          </td>

          <td title="'Chloride'" filter="{ 'chloride': 'number' }" sortable="'chloride'" class="text-center">
            <span editable-number="item.chloride" onbeforesave="$ctrl.save($data, 'chloride', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.chloride | number | available }}
            </span>
          </td>

          <td title="'Sand'" filter="{ sand: 'number' }" sortable="'sand'" class="text-center">
            <span editable-number="item.sand" onbeforesave="$ctrl.save($data, 'sand', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.sand | number | available }}
            </span>
          </td>

          <td title="'Fluid Loss'"  filter="{ fluidLoss: 'number' }" sortable="'fluidLoss'" class="text-center">
            <span editable-number="item.fluidLoss" onbeforesave="$ctrl.save($data, 'fluidLoss', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.fluidLoss | number | available }}
            </span>
          </td>

          <td title="'Sample Tempeture'" filter="{ sampleTempeture: 'number' }" sortable="'sampleTempeture'" class="text-center">
            <span editable-number="item.sampleTempeture" onbeforesave="$ctrl.save($data, 'sampleTempeture', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.sampleTempeture | number | available }}
            </span>
          </td>

          <td title="'Additives'" filter="{ additives: 'text' }" sortable="'additives'" class="row-textarea">
            <span editable-textarea="item.additives" e-rows="4" e-maxlength="250" onbeforesave="$ctrl.save($data, 'additives', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.additives | available }}
            </span>
          </td>

           <td title="'Addtional Comments'" filter="{ addtionalComments: 'text' }" sortable="'addtionalComments'" class="row-textarea">
            <span editable-textarea="item.addtionalComments" e-rows="4" e-maxlength="500" onbeforesave="$ctrl.save($data, 'addtionalComments', item)" edit-disabled="!$ctrl.session.can('mud_check', 'edit')">
              {{ item.addtionalComments | available }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
