<div class="dashboard">
  <!-- Main actions -->
  <div class="actions-bar hug">

    <div class="pull-right">
      <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i> Reload</button>

      <comments id="$ctrl.data.id" button-class="btn-default"></comments>
      <attachment id="$ctrl.data.id"  button-class="btn-default"></attachment>
    </div>
  </div>
  <!-- /Main actions -->

  <div class="margin-sm">
    <div class="row">
      <collapsable-panel></collapsable-panel>

      <!-- Job board -->
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="panel panel-default" cg-busy="$ctrl.loadingPromise">
          <div class="panel-heading">
            User Information
          </div>
          <!-- Body -->
          <div class="panel-body">

            <div class="dashboard-body">
               <div class="dashboard-group">
                <div class="col-4 dashboard-label"></div>
                <div class="col-8 dashboard-input">
                   <a href="" change-picture="{{ $ctrl.data.profilePicturePath }}" endpoint="user/{{$ctrl.data.id}}/picture" load="$ctrl.load()" ng-disabled="!$ctrl.session.can('user', 'edit')">
                      <img class="picture circle " ng-src="{{ $ctrl.data.profilePicturePath | defaultImage }}" alt="">
                    </a>
                </div>
              </div>
              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Name</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.name" onbeforesave="$ctrl.save($data, 'name')" edit-disabled="!$ctrl.session.can('user', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Username</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.username" onbeforesave="$ctrl.save($data, 'username')" edit-disabled="!$ctrl.session.can('user', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.username | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Email</div>
                <div class="col-8 dashboard-input">
                  <span editable-email="$ctrl.data.email" onbeforesave="$ctrl.save($data, 'email')" edit-disabled="!$ctrl.session.can('user', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.email | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Role</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.role" e-ng-options="role as role.name for role in $ctrl.roles" onshow="$ctrl.getRoles()" onbeforesave="$ctrl.save($data, 'role')" edit-disabled="!$ctrl.session.can('user', 'edit')" e-required>
                    {{ $ctrl.data.role.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Active?</div>
                <div class="col-8 dashboard-input">
                  <toggle ng-model="$ctrl.data.isActive" size="btn-sm" ng-disabled="!($ctrl.session.can('user', 'activate') && $ctrl.session.can('user', 'deactivate'))" ng-change="$ctrl.save($ctrl.data.isActive, 'isActive', item)"></toggle>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Password</div>
                <div class="col-8 dashboard-input">
                  <button class="btn btn-primary btn-block" ng-click="$ctrl.update($ctrl.data.id)" ng-disabled="!$ctrl.session.can('user', 'edit')">Change Password</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /Body -->
        </div>
      </div>
      <!-- /Job board -->

      <!-- Tabs -->
      <!-- <div class="col">
        <scrollable-tabset auto-recalculate="true">
          <uib-tabset justified="false">
            <uib-tab index="0" heading="Tab One">
              <h2>Bye</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam adipisci, perferendis cupiditate ab facilis quis ipsum quibusdam. Aliquid sed eum non aspernatur totam id, deleniti nobis mollitia magnam, recusandae natus!</p>
            </uib-tab>
            <uib-tab index="1" heading="Tab Two">
              <h2>Hello</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quos itaque similique porro nostrum ex odio voluptas vitae, nisi blanditiis esse expedita error fugit hic quam dignissimos quas facilis. Deserunt!</p>
            </uib-tab>
          </uib-tabset>
        </scrollable-tabset>
      </div> -->
      <!-- /Tabs -->
    </div>
  </div>
</div>




