<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create User</h3>
  </div>
  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }" >


    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.name.$invalid && form.name.$touched, 'has-success': form.name.$valid && form.name.$touched }">
      <label class="col-4 col-form-label" for="textinput">Name</label>
      <div class="col-6">
        <input type="text" name="name" id="name" class="form-control" ng-model="$ctrl.data.name" required placeholder="" required maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.name.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="maxlength">Length must be lower than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has feedback"  ng-class="{ 'has-error': form.username.$invalid && form.username.$touched, 'has-success': form.username.$valid && form.username.$touched }" >
      <label class="col-4 col-form-label" for="username">Username</label>
      <div class="col-6">
        <input type="text" name="username" id="username" class="form-control" ng-model="$ctrl.data.username" required  placeholder="" required minlength="4" maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.username.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="minlength, maxlength">Length must be between 4 and 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.email.$invalid && form.email.$touched, 'has-success': form.email.$valid && form.email.$touched }">
      <label class="col-4 col-form-label" for="email" name="email">Email</label>
      <div class="col-6">
        <input type="email" name="email" id="email" class="form-control" ng-model="$ctrl.data.email" required  placeholder="" ng-pattern="/^.+@.+\..+$/" required maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.email.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="pattern">This field must have an email structure.</span>
          <span ng-message="maxlength">Length must be greater than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.role.$invalid && form.role.$touched, 'has-success': form.role.$valid && form.role.$touched }" >
      <label class="col-4 col-form-label" for="role">Role</label>
      <div class="col-6">
         <select name="role" id="role" name="role" class="form-control" ng-options="option.name for option in $ctrl.roles track by option.id" ng-model="$ctrl.data.role" required>
          <option value="">--- Select a value ---</option>
        </select>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.role.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has feedback"  ng-class="{ 'has-error': form.password.$invalid && form.password.$touched, 'has-success': form.password.$valid && form.password.$touched }">
      <label class="col-4 col-form-label" for="password">Password</label>
      <div class="col-6">
        <input type="password" name="password" id="password" class="form-control" name="password" ng-model="$ctrl.data.password" ng-pattern="/((?=.*\d)|(?=.*\W+))(?=.*[!@#$%^&*])(?![.\n])(?=.*[a-z]).*$/" placeholder="" required minlength="8" maxlength="20">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.password.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="minlength, maxlength">Length must be between 8 and 20.</span>
          <span ng-message="pattern">
            Password must have at least a character.<br>
            Password must have at least a special character.
          </span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has feedback"  ng-class="{ 'has-error': form.confirmpassword.$invalid && form.confirmpassword.$touched, 'has-success': form.confirmpassword.$valid && form.confirmpassword.$touched }">
      <label class="col-4 col-form-label" for="confirmpassword">Confirm Password</label>
      <div class="col-6">
        <input type="password" class="form-control" name="confirmpassword" type="confirmpassword" ng-model="ctrl.data.confirmpassword" ng-pattern="/((?=.*\d)|(?=.*\W+))(?=.*[!@#$%^&*])(?![.\n])(?=.*[a-z]).*$/" compare-to="$ctrl.data.password" placeholder="" required minlength="8" maxlength="20">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.confirmpassword.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="compareTo">Password doesn't match.</span>
          <span ng-message="minlength, maxlength">Length must be between 8 and 20.</span>
          <span ng-message="pattern">
            Password must have at least a character.<br>
            Password must have at least a special character.
          </span>
        </span>
        <!-- /Errors -->
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.save()" ng-disabled="form.$invalid || $ctrl.isSaving"><i class="fa fa-fw fa-save"></i> Create</button>
  </div>
</form>













