<div class="actions-bar hug">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('user', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create User
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col>
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td>
            <img class="circle" width="30" ng-src="{{ item.profilePicturePath | defaultImage }}" alt="">
          </td>

          <td title="'Full Name'" filter="{ name: 'text' }" sortable="'name'" class="text-middle">
            <a href="" drilldown="{ title: item.name, component: 'usersView', id: item.id }">{{ item.name | available }}</a>
          </td>

          <td title="'Username'" filter="{ username: 'text' }" sortable="'username'" class="text-middle">
            {{ item.username | available }}
          </td>

          <td title="'Email'" filter="{ email: 'text' }" sortable="'email'" class="text-middle">
            {{ item.email | available }}
          </td>

          <td title="'Role'" filter="{ 'role.name': 'text' }" sortable="'role.name'" class="text-middle">
            {{ item.role.name | available }}
          </td>

          <td title="'Active?'" sortable="'isActive'" class="text-center text-middle">
            <toggle ng-model="item.isActive" ng-change="$ctrl.toggleActivation(item)" size="btn-xs" ng-disabled="!($ctrl.session.can('user', 'activate') && $ctrl.session.can('user', 'deactivate'))"></toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

