<form name="form" autocomplete="off">
  <div class="modal-header">
    <h3 class="modal-title pull-left">Edit Profile</h3>
  </div>
  <div class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }" >

    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.name.$invalid && form.name.$touched, 'has-success': form.name.$valid && form.name.$touched }">
      <label class="col-4 col-form-label" for="textinput">Full Name</label>
      <div class="col-6">
        <input type="text" name="name" id="name" class="form-control" ng-model="$ctrl.data.name" required placeholder="" required maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.name.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="maxlength">Length must be lower than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.email.$invalid && form.email.$touched, 'has-success': form.email.$valid && form.email.$touched }">
      <label class="col-4 col-form-label" for="email" name="email">Email</label>
      <div class="col-6">
        <input type="email" name="email" id="email" class="form-control" ng-model="$ctrl.data.email" required  placeholder="" ng-pattern="/^.+@.+\..+$/" required maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.email.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="pattern">This field must have an email structure.</span>
          <span ng-message="maxlength">Length must be greater than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-4">
        <button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.changePassword()" ng-disabled="$ctrl.isSaving">Change password</button>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || !form.$dirty"><i class="fa fa-fw fa-save"></i> Save</button>
  </div>
</form>
