<div id="job-entry" class="box">
  <div class="panel panel-default">
    <!-- Wizard -->
    <div class="container-fluid">
      <div class="wizard small row">
        <a class="col primary {{ $ctrl.getWizardClass('UPCOMING') }}" ng-click="$ctrl.setStatus('UPCOMING')" ng-disabled="$ctrl.data.jobStatus == 'UPCOMING'">
          <i class="fa fa-fw fa-check" ng-if="$ctrl.checkStates('UPCOMING')"></i> UPCOMING
        </a>
        <a class="col success {{ $ctrl.getWizardClass('ACTIVE') }}" ng-click="$ctrl.setStatus('ACTIVE')" ng-disabled="$ctrl.data.jobStatus == 'ACTIVE'">
          <i class="fa fa-fw fa-check" ng-if="$ctrl.checkStates('ACTIVE')"></i> ACTIVE
        </a>
        <a class="col danger {{ $ctrl.getWizardClass('FINISHED') }}" ng-click="$ctrl.setStatus('FINISHED')" ng-disabled="$ctrl.data.jobStatus == 'FINISHED'">
          <i class="fa fa-fw fa-check" ng-if="$ctrl.checkStates('FINISHED')"></i> FINISHED
        </a>

        <!-- <a class="col {{ o.color }} {{ $ctrl.getWizardClass(o) }}" ng-repeat="o in $ctrl.status" ng-click="$ctrl.setStatus(o)" ng-disabled="o.name == $ctrl.data.jobStatus">
          <i class="fa fa-fw fa-check"></i> {{ o.name }}
        </a> -->
      </div>
    </div>
    <!-- /Wizard -->

    <div class="padding bordered-bottom">
      <div uib-carousel active="0" interval="8000">
        <div uib-slide index="0">
          <chart-day-vs-depth job="item"></chart-day-vs-depth>
        </div>
        <div uib-slide index="1">
          <chart-day-vs-cost job="item"></chart-day-vs-cost>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="panel-body">
      <div class="dashboard-body">
        <div class="dashboard-group ">
          <div class="col-4 dashboard-label">Job Number</div>
          <div class="col-5 dashboard-highlight">
            {{ $ctrl.data.jobNumber | available }}
          </div>
          <div class="col-3 text-right">
            <i class="fa fa-fw fa-lg" ng-class="{ 'fa-lock text-danger': $ctrl.data.syncedBy, 'fa-unlock text-success': !$ctrl.data.syncedBy }" uib-tooltip="{{ $ctrl.data.syncedBy | conditional:'Unlocked';'Locked' }}"></i>

            <i class="fa fa-fw fa-lg fa-laptop" ng-if="$ctrl.data.isStored" uib-tooltip="Downloaded"></i>
          </div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Start Date</div>
          <div class="col-8 dashboard-input">
            {{ $ctrl.data.startDate | date:'dd/MMM/yyyy' | available }}
            <!-- <span editable-date="$ctrl.data.startDate" onbeforesave="$ctrl.save($data, 'startDate')" e-max="{{ $ctrl.data.endDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.data.isStored">
              {{ $ctrl.data.startDate | date:'dd/MMM/yyyy' | available }}
            </span> -->
          </div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">End Date</div>
          <div class="col-8 dashboard-input">
            {{ $ctrl.data.endDate | date:'dd/MMM/yyyy' | available }}
            <!-- <span editable-date="$ctrl.data.endDate" onbeforesave="$ctrl.save($data, 'endDate')" e-min="{{ $ctrl.data.startDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.data.isStored">
              {{ $ctrl.data.endDate | date:'dd/MMM/yyyy' | available }}
            </span> -->
          </div>
        </div>

        <!-- <div class="dashboard-group">
          <div class="col-4 dashboard-label">Estimated Start Date</div>
          <div class="col-8 dashboard-input">
            <span editable-date="$ctrl.data.estimatedStartDate" onbeforesave="$ctrl.save($data, 'estimatedStartDate')" e-max="{{ $ctrl.data.estimatedEndDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
              {{ $ctrl.data.estimatedStartDate | date:'dd/MMM/yyyy' | available }}
            </span>
          </div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Estimated End Date</div>
          <div class="col-8 dashboard-input">
            <span editable-date="$ctrl.data.estimatedEndDate" onbeforesave="$ctrl.save($data, 'estimatedEndDate')" e-min="{{ $ctrl.data.estimatedStartDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
              {{ $ctrl.data.estimatedEndDate | date:'dd/MMM/yyyy' | available }}
            </span>
          </div>
        </div> -->

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Rig</div>
          <div class="col-8 dashboard-input">{{ $ctrl.data.rig.name | available }}</div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Well</div>
          <div class="col-8 dashboard-input">
            {{ $ctrl.data.well.name | available }}
            <span class="text-muted" uib-tooltip="Legal Name">({{ $ctrl.data.well.legalName | available }})</span>
          </div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Client</div>
          <div class="col-8 dashboard-input">{{ $ctrl.data.client.name | available }}</div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Objective</div>
          <div class="col-8 dashboard-input">{{ $ctrl.data.jobObjective.itemValue | available }}</div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Type</div>
          <div class="col-8 dashboard-input">{{ $ctrl.data.jobType.itemValue | available }}</span>
          </div>
        </div>

        <div class="dashboard-group">
          <div class="col-4 dashboard-label">Synced By</div>
          <div class="col-8 dashboard-input">
            {{ $ctrl.data.syncedBy.username | available }}
            <small ng-if="$ctrl.data.syncedBy" class="text-muted">({{ $ctrl.data.syncedAt | date:'dd/MMM/yyyy@HH:mm' | available }})</small>
          </div>
        </div>

        <!-- <div class="dashboard-group">
          <div class="col-4 dashboard-label">Additional Information</div>
          <div class="col-8 dashboard-input" collapsable-text="{{ $ctrl.data.additionalInformation | available }}"></div>
        </div> -->

        <div class="dashboard-group text-center" ng-if="$ctrl.data.isStored">
          <button class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.open()">
            <i class="fa fa-fw fa-folder-open-o"></i> Open
          </button>
        </div>

        <div class="dashboard-group text-center" ng-if="!$ctrl.data.isStored">
          <button class="btn btn-primary btn-outline btn-lg btn-block" ng-click="$ctrl.download()" ng-disabled="$ctrl.isLoading || !$ctrl.OnlineService.isOnline">
            <span ng-show="$ctrl.isLoading">
              <i class="fa fa-fw fa-spin fa-spinner"></i> Downloading...
            </span>
            <span ng-hide="$ctrl.isLoading">
              <i class="fa fa-fw fa-arrow-down"></i> Download
            </span>
          </button>
        </div>

      </div>
    </div>
    <!-- /Body -->
  </div>
</div>
