<div class="actions-bar hug">
  <div class="pull-left">
    <search change="$ctrl.autocomplete(query)" callback="$ctrl.search(filters)" placeholder="Enter your search.."></search>
  </div>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div id="jobs-list" class="table-frame" cg-busy="$ctrl.loadingPromise">
  <div class="table-responsive">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
        <col width="11.1%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data" >
          <td class="table-numeration status-{{ item.jobStatus | lowercase | s:'dasherize' }}">{{ $ctrl.count + $index + 1 }}</td>

          <td title="'Number'" filter="{ jobNumber: 'number' }" sortable="'jobNumber'" class="text-center text-middle">
            <a class="bold" href="" drilldown="{ title: item.jobNumber, component: 'jobsView', id: item.id }">{{ item.jobNumber | available }}</a>
          </td>

          <td title="'Status'" filter="{ jobStatus: 'select' }" filter-data="$ctrl.statusArray" sortable="'jobStatus'" class="bold text-nowrap text-middle">
            <span class="status-{{ item.jobStatus | lowercase | s:'dasherize' }}">{{ item.jobStatus | s:'humanize' }}</span>
          </td>

          <!-- <td title="'Est. Start Date'" filter="{ estimatedStartDate: 'text' }" sortable="'estimatedStartDate'">
            <span editable-date="item.estimatedStartDate" onbeforesave="$ctrl.save($data, 'estimatedStartDate', item)" e-max="{{ item.estimatedEndDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
              {{ item.estimatedStartDate | date:'dd/MMM/yyyy' | available }}
            </span>
          </td>

          <td title="'Est. End Date'" filter="{ estimatedEndDate: 'text' }" sortable="'estimatedEndDate'">
            <span editable-date="item.estimatedEndDate" onbeforesave="$ctrl.save($data, 'estimatedEndDate', item)" e-min="{{ item.estimatedStartDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
              {{ item.estimatedEndDate | date:'dd/MMM/yyyy' | available }}
            </span>
          </td> -->

          <td title="'Start Date'" filter="{ startDate: 'date' }" sortable="'startDate'" class="text-middle text-nowrap">
            {{ item.startDate | date:'dd/MMM/yyyy' | available }}
          </td>

          <td title="'End Date'" filter="{ endDate: 'date' }" sortable="'endDate'" class="text-middle text-nowrap">
            {{ item.endDate | date:'dd/MMM/yyyy' | available }}
          </td>

          <td title="'Rig'" filter="{ 'rig.name': 'text' }" sortable="'rig.name'" class="text-middle text-nowrap">
            <a href="" drilldown="{ title: item.rig.name, component: 'rigsView', id: item.rig.id, parentId: $ctrl.tabId }">{{ item.rig.name | available }}</a>
          </td>

          <td title="'Well'" filter="{ 'well.name': 'text' }" sortable="'well.name'" class="text-middle text-nowrap">
            <a href="" drilldown="{ title: item.well.name, component: 'wellsView', id: item.well.id, parentId: $ctrl.tabId }">{{ item.well.name | available }}</a>
          </td>

          <td title="'Client'" filter="{ 'client.name': 'text' }" sortable="'client.name'" class="text-middle text-nowrap">
            <a href="" drilldown="{ title: item.client.name, component: 'clientsView', id: item.client.id, parentId: $ctrl.tabId }">{{ item.client.name | available }}</a>
          </td>

          <td title="'Objective'" filter="{ 'jobObjective.itemValue': 'text' }" sortable="'jobObjective.itemValue'" class="text-middle text-nowrap">
            {{ item.jobObjective.itemValue | available }}
          </td>

          <td title="'Type'" filter="{ 'jobType.itemValue': 'text' }" sortable="'jobType.itemValue'" class="text-middle text-nowrap">
            {{ item.jobType.itemValue | available }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

