<form name="form" autocomplete="off">
  <div class="modal-header">
    <h3 class="modal-title">Personnel Assigment</h3>
  </div>
  <div class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <!-- Form -->
    <div class="row margin-sm-bottom" ng-if="$ctrl.session.can('job_driller', 'create')">
      <div class="col-12 form-group has-feedback" ng-class="{ 'has-error': form.personnel.$invalid && form.personnel.$touched, 'has-success': form.personnel.$valid && form.personnel.$touched }">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control input-lg" name="personnel" id="personnel" placeholder="Search for a personnel to assign..." ng-model="$ctrl.personnel" required uib-typeahead="item as $ctrl.getLabel(item) for item in $ctrl.getUnassignedPersonnel($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true">

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-model="$ctrl.selectedPosition.value" ng-click="$ctrl.personnel = null" uib-btn-checkbox btn-checkbox-true="'DRILLER'" btn-checkbox-false="'COORDINATOR'">
              <span ng-if="$ctrl.selectedPosition.value === 'DRILLER'">Driller</span>
              <span ng-if="$ctrl.selectedPosition.value === 'COORDINATOR'">Coordinator</span>
            </button>

            <button type="button" class="btn" ng-class="{ 'btn-default': form.$invalid, 'btn-success': form.$valid }" type="button" ng-disabled="form.$invalid" ng-click="$ctrl.assign($ctrl.personnel);form.$setPristine();form.$setUntouched()">
              <i class="fa fa-fw fa-user-plus"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <!-- /Form -->

    <div ng-show="$ctrl.assignedPersonnel.length">
      <table ng-table="$ctrl.tableParams" class="table bordered table-hover hug" show-filter="true">
        <colgroup>
          <col>
          <!-- <col ng-if="$ctrl.session.can('job', 'delete')"> -->
          <col width="33.3%">
          <col width="33.3%">
          <col width="33.3%">
        </colgroup>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $index + 1 }}</td>
          <!-- <td ng-if="$ctrl.session.can('job', 'delete')">
            <button type="button" class="btn btn-danger btn-outline btn-xs" uib-tooltip="Remove" ng-click="$ctrl.remove(item)">
              <i class="fa fa-fw fa-user-times"></i>
            </button>
          </td> -->
          <td title="'Name'" filter="{ 'personnel.name': 'text' }" sortable="'personnel.name'">{{ item.personnel.name | available }}</td>
          <td title="'Username'" filter="{ 'personnel.user.username': 'text' }" sortable="'personnel.user.username'">{{ item.personnel.user.username | available }}</td>
          <td title="'Position'" filter="{ position: 'text' }" sortable="'position'">{{ item.position.displayName_EN | s:'titleize' | available }}</td>
        </tr>
      </table>
    </div>

    <not-found expression="!$ctrl.assignedPersonnel.length" message="No personnel was found."></not-found>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>
  </div>
</form>
