<div class="dashboard">
  <!-- Main actions -->
  <div class="actions-bar">
    <button class="btn btn-primary btn-outline" ng-click="$ctrl.assign()" ng-if="$ctrl.data.id">
      <i class="fa fa-fw fa-user-plus"></i> Assign Personnel
    </button><!-- hidden-xl-up -->

    <!-- Report button -->
    <div class="btn-group" uib-dropdown ng-if="$ctrl.data.id">
      <button type="button" class="btn btn-primary" uib-dropdown-toggle uib-tooltip="Reports" tooltip-placement="right">
        <i class="fa fa-fw fa-file-text-o"></i> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem"><a href="" ng-click="$ctrl.report('daily')">Daily Reports</a></li>
        <li role="menuitem"><a href="" ng-click="$ctrl.report('bhas')">BHA Performace</a></li>
        <li role="menuitem"><a href="" ng-click="$ctrl.report('timesheet')">Time Sheet</a></li>
        <!-- <li class="divider"></li> -->
        <!-- <li role="menuitem"><a href="">Charts</a></li> -->
      </ul>
    </div>
    <!-- /Report button -->

    <!-- <button class="btn btn-link" ng-click="$ctrl.createJobObjective()" ng-if="$ctrl.session.can('job_objective', 'create')">
      Create Job Objective
    </button>

    <button class="btn btn-link" ng-click="$ctrl.createJobType()" ng-if="$ctrl.session.can('job_type', 'create')">
      Create Job Type
    </button> -->

    <div class="pull-right">
      <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
      <attachment id="$ctrl.data.id" button-class="btn-default"></attachment>
    </div>
  </div>
  <!-- /Main actions -->

  <div class="margin-sm">
    <div class="row">
      <collapsable-panel></collapsable-panel>

      <!-- Job board -->
      <div class="col-12 col-lg-4 col-xl-3">
        <div id="job-view" class="panel panel-default" cg-busy="$ctrl.loadingPromise">
          <!-- Wizard -->
          <div class="container-fluid">
            <div class="wizard small row">
              <a ng-repeat="s in $ctrl.statusList" class="col {{ s.color }} {{ $ctrl.getWizardClass(s.name) }}" ng-click="$ctrl.setStatus(s.name)" ng-disabled="$ctrl.data.jobStatus == s.name">
                <i class="fa fa-fw fa-check" ng-if="$ctrl.checkStates(s.name)"></i> {{ s.name | s:'humanize' }}
              </a>
            </div>
          </div>
          <!-- /Wizard -->

          <div class="bordered-bottom">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="padding" uib-carousel active="0" interval="8000">
                  <div uib-slide index="0">
                    <chart-day-vs-depth job-id="$ctrl.id"></chart-day-vs-depth>
                  </div>
                  <div uib-slide index="1">
                    <chart-day-vs-cost job-id="$ctrl.id"></chart-day-vs-cost>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Body -->
          <div class="panel-body">
            <div class="dashboard-body">
              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Job Number</div>
                <div class="col-8 dashboard-highlight">{{ $ctrl.data.jobNumber | available }}</div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Client</div>
                <div class="col-8 dashboard-input" ng-if="$ctrl.data.client">
                  <span editable-text="$ctrl.data.client" e-uib-typeahead="item as item.name for item in $ctrl.getClients($viewValue)" onbeforesave="$ctrl.save($data, 'client')" edit-disabled="!$ctrl.session.can('job', 'edit')" e-form="clientForm">
                    <a href="" drilldown="{ title: $ctrl.data.client.name, component: 'clientsView', id: $ctrl.data.client.id }">{{ $ctrl.data.client.name | available }}</a>
                  </span>

                  <div class="pull-right" ng-click="clientForm.$show()" ng-hide="clientForm.$visible || $ctrl.data.jobStatus !== 'SETTING_UP'">
                    <a class="small" href="" ng-if="$ctrl.session.can('job', 'edit')">Change</a>
                  </div>
                </div>

                <div class="col-8 dashboard-input" ng-if="!$ctrl.data.client">
                  <span editable-text="$ctrl.data.client" e-uib-typeahead="item as item.name for item in $ctrl.getClients($viewValue)" onbeforesave="$ctrl.save($data, 'client')" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.client.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group" ng-if="$ctrl.data.client">
                <div class="col-4 dashboard-label">Contract</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.jobContract" e-ng-options="o as o.contract.name for o in $ctrl.clientContracts" onshow="$ctrl.getJobContracts()" onbeforesave="$ctrl.save($data, 'jobContract')" edit-disabled="!$ctrl.session.can('job', 'edit') || $ctrl.data.jobStatus !== 'SETTING_UP'">
                    {{ $ctrl.data.jobContract.contract.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Objective</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.jobObjective" e-ng-options="o as o.itemValue for o in $ctrl.jobObjectives" onshow="$ctrl.getJobObjectives()" onbeforesave="$ctrl.save($data, 'jobObjective')" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.jobObjective.itemValue | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Type</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.jobType" e-ng-options="o as o.itemValue for o in $ctrl.jobTypes" onshow="$ctrl.getJobTypes()" onbeforesave="$ctrl.save($data, 'jobType')" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.jobType.itemValue | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Start Date</div>
                <div class="col-8 dashboard-input">
                  <span editable-date="$ctrl.data.startDate" onbeforesave="$ctrl.save($data, 'startDate')" e-max="{{ $ctrl.data.endDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.startDate | date:'dd/MMM/yyyy' | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">End Date</div>
                <div class="col-8 dashboard-input">
                  <span editable-date="$ctrl.data.endDate" onbeforesave="$ctrl.save($data, 'endDate')" e-min="{{ $ctrl.data.startDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.endDate | date:'dd/MMM/yyyy' | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group" ng-if="$ctrl.data.client">
                <div class="col-4 dashboard-label">Project</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.project" e-ng-options="o as o.name for o in $ctrl.projects" onshow="$ctrl.getProjects()" onbeforesave="$ctrl.save($data, 'project')" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.project.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group" ng-if="$ctrl.data.storage">
                <div class="col-4 dashboard-label">Storage</div>
                <div class="col-8 dashboard-input">
                  {{ $ctrl.data.storage.name | available }}
                </div>
              </div>

              <!-- <div class="dashboard-group">
                <div class="col-4 dashboard-label">Estimated Start Date</div>
                <div class="col-8 dashboard-input">
                  <span editable-date="$ctrl.data.estimatedStartDate" onbeforesave="$ctrl.save($data, 'estimatedStartDate')" e-max="{{ $ctrl.data.estimatedEndDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.estimatedStartDate | date:'dd/MMM/yyyy' | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Estimated End Date</div>
                <div class="col-8 dashboard-input">
                  <span editable-date="$ctrl.data.estimatedEndDate" onbeforesave="$ctrl.save($data, 'estimatedEndDate')" e-min="{{ $ctrl.data.estimatedStartDate | date:'yyyy-MM-dd' }}" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.estimatedEndDate | date:'dd/MMM/yyyy' | available }}
                  </span>
                </div>
              </div> -->

              <div class="dashboard-group" ng-if="$ctrl.data.syncedBy">
                <div class="col-4 dashboard-label">Synced By</div>
                <div class="col-8 dashboard-input">
                  {{ $ctrl.data.syncedBy.username | available }}
                  <small class="text-muted">({{ $ctrl.data.syncedAt | date:'dd/MMM/yyyy@HH:mm' | available }})</small>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Additional Information</div>
                <div class="col-8 dashboard-input">
                  <span editable-textarea="$ctrl.data.additionalInformation" e-rows="4" onbeforesave="$ctrl.save($data, 'additionalInformation')" e-maxlength="500" edit-disabled="!$ctrl.session.can('job', 'edit')">
                    {{ $ctrl.data.additionalInformation | available }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- /Body -->
        </div>
      </div>
      <!-- /Job board -->

      <!-- Tabs -->
      <div class="col">
        <div class="frame expand hug" cg-busy="$ctrl.loadingPromise">
          <scrollable-tabset auto-recalculate="true">
            <uib-tabset justified="true">
              <!-- Daily -->
              <uib-tab index="2" heading="Days">
                <working-days-dashboard job="$ctrl.data"></working-days-dashboard>
              </uib-tab>
              <!-- /Daily -->

              <!-- Rig -->
              <uib-tab index="0" heading="Rig">
                <rigs-dashboard id="{{ $ctrl.data.rig.id }}" job="$ctrl.data"></rigs-dashboard>
              </uib-tab>
              <!-- /Rig -->

              <!-- Well and wellbores -->
              <uib-tab index="1" heading="Well" select="$ctrl.renderMap()">
                <wells-dashboard id="{{ $ctrl.data.well.id }}" job="$ctrl.data"></wells-dashboard>
              </uib-tab>
              <!-- /Well and wellbores -->

              <!-- BHA -->
              <uib-tab index="3" heading="BHA's">
                <bhas-dashboard job="$ctrl.data"></bhas-dashboard>
              </uib-tab>
              <!-- /BHA -->

              <!-- waterpump settings -->
              <uib-tab index="4" heading="Pump Settings">
                <water-pump-settings-list job="$ctrl.data"></water-pump-settings-list>
              </uib-tab>
              <!-- /waterpump settings -->

              <!-- Hours Services -->
              <uib-tab index="5" heading="Time Sheet">
                <timesheet-list job="$ctrl.data" ></timesheet-list>
              </uib-tab>
              <!-- /Hours Services -->

              <!-- Comments -->
              <uib-tab index="6" heading="Comments">
                <comments-dashboard id="{{ $ctrl.data.id }}" job="$ctrl.data"></comments-dashboard>
              </uib-tab>
              <!-- /Comments -->
            </uib-tabset>
          </scrollable-tabset>

        </div>
      </div>
      <!-- /Tabs -->
    </div>
  </div>
</div>




