<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Hour Entry</h3>
  </div>

  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">
   <not-found expression="!$ctrl.assignedPersonnel.length" message="No personnel assigned"></not-found>
   <div ng-if="$ctrl.assignedPersonnel.length !== 0">

      <uib-tabset active="$ctrl.selectedPostionIndex" type="pills" justified="true" class="margin-sm-bottom">
        <uib-tab index="$index" heading="{{ position.value | s:'titleize' }}" select="$ctrl.getUnassignedPersonnel()" ng-repeat="position in $ctrl.jobPositions"></uib-tab>
    </uib-tabset>



    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.personnel.$invalid && form.personnel.$touched, 'has-success': form.personnel.$valid && form.personnel.$touched }">
      <label for="personnel" class="col-4 col-form-label">Personnel</label>
      <div class="col-6">
        <input type="text" class="form-control" name="personnel" id="personnel" placeholder="" ng-model="$ctrl.data.personnel" required uib-typeahead="item as item.personnel.name for item in $ctrl.assignedPersonnel | filter:$viewValue" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true" ng-disabled="$ctrl.assignedPersonnel.length === 0">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.personnel.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.hourType.$invalid && form.hourType.$touched, 'has-success': form.hourType.$valid && form.hourType.$touched && $ctrl.data.hourType.id, 'has-warning': form.hourType.$valid && form.hourType.$touched && !$ctrl.data.hourType.id }">
      <label for="hourType" class="col-4 col-form-label">Hour Type</label>
      <div ng-class="{ 'col-8': $ctrl.session.can('personnel_position', 'create'), 'col-6': !$ctrl.session.can('personnel_position', 'create') }">
        <div ng-class="{ 'input-group': $ctrl.session.can('personnel_position', 'create') }">
          <input type="text" class="form-control" name="hourType" id="hourType" placeholder="" ng-model="$ctrl.data.hourType" required uib-typeahead="item as item.itemValue for item in $ctrl.getHoursType($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="$ctrl.session.can('personnel_position', 'create')" typeahead-append-to-body="true" ng-disabled="$ctrl.assignedPersonnel.length === 0">
          <span class="input-group-btn" ng-if="$ctrl.session.can('personnel_position', 'create')">
            <button class="btn btn-default" type="button" ng-click="$ctrl.createHoursType()" ng-disabled="!$ctrl.data.hourType || $ctrl.data.hourType.id" ng-class="{ 'btn-warning': $ctrl.data.hourType && !$ctrl.data.hourType.id }">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </span>
        </div>
        <span class="help-block" ng-if="$ctrl.data.hourType && !$ctrl.data.hourType.id">
          To create this new value click on the <strong>+</strong> button.
        </span>
        <!-- Errors -->
        <span class="help-block" ng-messages="form.hourType.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

<!--
    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.approvedBy.$invalid && form.approvedBy.$touched, 'has-success': form.approvedBy.$valid && form.approvedBy.$touched && $ctrl.data.approvedBy.id, 'has-warning': form.approvedBy.$valid && form.approvedBy.$touched && !$ctrl.data.approvedBy.id }">
      <label for="approvedBy" class="col-4 col-form-label">Aproved By</label>
      <div ng-class="{ 'col-7': $ctrl.session.can('approvedBy_position', 'create'), 'col-6': !$ctrl.session.can('approvedBy_position', 'create') }">
        <div >
          <input type="text" class="form-control" name="approvedBy" id="approvedBy" placeholder="" ng-model="$ctrl.data.approvedBy" required uib-typeahead="item as item.name for item in $ctrl.getUsers($viewValue)" typeahead-show-hint="true" typeahead-min-length="0" typeahead-append-to-body="true" ng-disabled="$ctrl.assignedPersonnel.length === 0">
        </div>
      </div>
    </div>-->

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.date.$invalid && form.date.$touched, 'has-success': form.date.$valid && form.date.$touched }">
      <label for="date" class="col-4 col-form-label">Date</label>
      <div class="col-6">
        <input class="form-control" type="date" name="date" id="date" placeholder="" ng-model="$ctrl.data.date" required ng-disabled="$ctrl.assignedPersonnel.length === 0">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.date.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="date">Invalid date.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.startTime.$invalid && form.startTime.$touched, 'has-success': form.startTime.$valid && form.startTime.$touched }">
      <label for="startTime" class="col-4 col-form-label">Start Time</label>
      <div class="col-6">
        <div uib-timepicker ng-model="$ctrl.data.startTime" max="$ctrl.data.endTime" show-meridian="false" show-spinners="false" required></div>
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.endTime.$invalid && form.endTime.$touched, 'has-success': form.endTime.$valid && form.endTime.$touched }">
      <label for="endTime" class="col-4 col-form-label">End Time</label>
      <div class="col-6">
        <div uib-timepicker ng-model="$ctrl.data.endTime" min="$ctrl.data.startTime" show-meridian="false" show-spinners="false" required ng-disabled="$ctrl.assignedPersonnel.length === 0"></div>
      </div>

    </div>
     <div class="form-group row has-feedback" ng-class="{ 'has-error': form.approved.$invalid && form.approved.$touched, 'has-success': form.approved.$valid && form.approved.$touched }">
      <label class="col-4 col-form-label" for="approved">Status</label>
      <div class="col-6">
        <select id="approved" name="approved" class="form-control" ng-model= "$ctrl.data.approved" ng-disabled="$ctrl.assignedPersonnel.length === 0">
          <option value="APPROVED">Approved </option>
          <option value="DECLINED">Declined</option>
          <option value="PENDING">Pending</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-4 col-form-label" for="isRigOperator">Extra Hours?</label>
      <div class="col-6">
        <toggle ng-model="$ctrl.data.extraHours"></toggle>
      </div>
    </div>

    <div class="form-group row has-feedback hug-bottom" ng-class="{ 'has-error': form.comments.$invalid && form.comments.$touched, 'has-success': form.comments.$valid && form.comments.$touched }">
        <label for="comments" class="col-4 col-form-label">Comments</label>
        <div class="col-8">
          <textarea class="form-control resize-vertical" type="text" name="comments" id="comments" placeholder="" ng-model="$ctrl.data.comments" maxlength="500" rows="5" ng-disabled="$ctrl.assignedPersonnel.length === 0"></textarea>
          <!-- Errors -->
          <span class="help-block" ng-messages="form.comments.$error" role="alert">
            <span ng-message="maxlength">Length must be lower than or equal to 500.</span>
          </span>
          <!-- /Errors -->
        </div>
      </div>





   </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>

    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || ($ctrl.data.personnel && !$ctrl.data.personnel.id) || ($ctrl.data.hourType && !$ctrl.data.hourType.id)">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
