<div class="dashboard">
  <!-- Main actions -->
  <div class="actions-bar hug">
    <button class="btn btn-primary btn-outline" ng-click="$ctrl.createInventoryEntry()" ng-if="$ctrl.session.can('inventory_entry', 'create')">
      <i class="fa fa-fw fa-list-ol"></i> Create Inventory Entry
    </button>

    <div class="pull-right">
      <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i> Reload</button>
      <comments id="$ctrl.data.id" button-class="btn-default"></comments>
      <attachment id="$ctrl.data.id" button-class="btn-default"></attachment>
    </div>
  </div>
  <!-- /Main actions -->

  <div class="margin-sm">
    <div class="row">
      <collapsable-panel></collapsable-panel>

      <!-- Job board -->
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="panel panel-default" cg-busy="$ctrl.loadingPromise">
          <div class="panel-heading">
            Catalog Entry Information
          </div>
          <!-- Body -->
          <div class="panel-body">
            <div class="dashboard-body">
              <div class="dashboard-group">
                <div class="col-4 dashboard-label"></div>
                <div class="col-8 dashboard-input">
                  <img ng-src="{{ $ctrl.data.imagePath }}" alt="" width="55">
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Name</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.name" onbeforesave="$ctrl.save($data, 'name')" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50" e-required>
                    {{ $ctrl.data.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Serial Number</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.serialNumber" onbeforesave="$ctrl.save($data, 'serialNumber')" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50" e-required>
                    {{ $ctrl.data.serialNumber | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Type</div>
                <div class="col-8 dashboard-input">
                  {{ $ctrl.data.itemType | type:{ 'BHACOMPONENT': 'BHA Component', 'BIT': 'Drill Bit', 'MOTOR': 'Motor', 'WATERPUMP': 'Water Pump' } | available }}
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Image</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.baseImage" e-ng-options="o.value as o.title for o in $ctrl.images" onshow="$ctrl.getImages()" onbeforesave="$ctrl.save($data, 'baseImage')" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-required>
                    {{ $ctrl.data.baseImage | s:'replaceAll':['_', ' '] | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Model</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.model" onbeforesave="$ctrl.save($data, 'model')" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                    {{ $ctrl.data.model | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Categories</div>
                <div class="col-8 dashboard-input">
                  <tags-input ng-model="$ctrl.data.categories" display-property="name" key-property="id" add-from-autocomplete-only="true" replace-spaces-with-dashes="false" placeholder="Add a category" name="categories" ng-disabled="!$ctrl.session.can('catalog_entry', 'edit')" on-tag-added="$ctrl.update($ctrl.data.categories, 'categories')" on-tag-removed="$ctrl.update()">
                    <!-- Use promise as source -->
                    <auto-complete source="$ctrl.getCategories($query)"></auto-complete>
                  </tags-input>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Manufacturer</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.manufacturer" e-ng-options="o as o.itemValue for o in $ctrl.manufacturers" onshow="$ctrl.getManufacturers()" onbeforesave="$ctrl.save($data, 'manufacturer')" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-required>
                    {{ $ctrl.data.manufacturer.itemValue | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">is this a BHA piece?</div>
                <div class="col-8 dashboard-input">
                  <toggle ng-model="$ctrl.data.isBHAPart" size="btn-sm" ng-disabled="!$ctrl.session.can('catalog_entry', 'edit')" ng-change="$ctrl.save($ctrl.data.isBHAPart, 'isBHAPart')"></toggle>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Description</div>
                <div class="col-8 dashboard-input">
                  <span editable-textarea="$ctrl.data.description" e-rows="4" onbeforesave="$ctrl.save($data, 'description')" e-required e-maxlength="250" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                    {{ $ctrl.data.description | available }}
                  </span>
                </div>
              </div>

            </div>
          </div>
          <!-- /Body -->
        </div>
      </div>
      <!-- /Job board -->

      <!-- Tabs -->
      <div class="col">
        <div class="frame expand hug">
          <scrollable-tabset auto-recalculate="true">
            <uib-tabset justified="false">
              <uib-tab index="0" heading="Details">
                <div class="panel panel-default borderless hug">
                  <div class="panel-body" cg-busy="$ctrl.loadingPromise">
                    <div class="dashboard-body" ng-switch="$ctrl.data.itemType">
                      <!-- BHA Component -->
                      <div ng-switch-when="BHACOMPONENT">
                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Name</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.name" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50" e-required>
                              {{ $ctrl.detail.name | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Model</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.model" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.model | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Inner Diameter</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.innerDiameter" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.innerDiameter | fraction | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Outer Diameter</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.outerDiameter" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.outerDiameter | fraction | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Length</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.length" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.length | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Nominal Weight</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.nominalWeight" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.nominalWeight | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Dry Weight</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.dryWeight" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.dryWeight | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Max. Torque</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.maxTorque" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.maxTorque | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Top Connector Size</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.topConnectorSize" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.topConnectorSize | fraction | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Top Connector Type</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.topConnectorType" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.topConnectorType | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Top Connector</div>
                          <div class="col-8 dashboard-input">
                            <span editable-select="$ctrl.detail.topConnector" e-ng-options="item as item for item in ['Pin', 'Box']" onaftersave="$ctrl.update()" e-required edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.topConnector | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bottom Connector Size</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.bottomConnectorSize" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.bottomConnectorSize | fraction | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bottom Connector Type</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.bottomConnectorType" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.bottomConnectorType | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bottom Connector</div>
                          <div class="col-8 dashboard-input">
                            <span editable-select="$ctrl.detail.bottomConnector" e-ng-options="item as item for item in ['Pin', 'Box']" onaftersave="$ctrl.update()" e-required edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.bottomConnector | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Fish Neck Outer Diameter</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.fishNeckOuterDiameter" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.fishNeckOuterDiameter | fraction | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Fish Neck Length</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.fishNeckLength" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.fishNeckLength | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Description</div>
                          <div class="col-8 dashboard-input">
                            <span editable-textarea="$ctrl.detail.description" e-rows="4" onaftersave="$ctrl.update()" e-maxlength="250" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.description | available }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /BHA Component -->

                      <!-- Bit -->
                      <div ng-switch-when="BIT">
                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Name</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.name" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50" e-required>
                              {{ $ctrl.detail.name | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Model</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.model" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.model | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Type</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.bitType" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.bitType | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Size</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.size" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.size | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Gauge</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.gauge" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.gauge | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bearing Style</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.bearingStyle" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.bearingStyle | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bearing Seal</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.bearingSeal" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.bearingSeal | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Number of Jets</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.numberOfJets" e-step="1" onaftersave="$ctrl.update()" e-required e-min="1" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.numberOfJets | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Diameter</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.diameter" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.diameter | fraction | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Description</div>
                          <div class="col-8 dashboard-input">
                            <span editable-textarea="$ctrl.detail.description" e-rows="4" onaftersave="$ctrl.update()" e-maxlength="250" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.description | available }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /Bit -->

                      <!-- Motor -->
                      <div ng-switch-when="MOTOR">
                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Name</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.name" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50" e-required>
                              {{ $ctrl.detail.name | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Model</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.model" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.model | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Displacement</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.displacement" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.displacement | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Min. Flow Rate</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.minFlowRate" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.minFlowRate | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Max. Flow Rate</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.maxFlowRate" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.maxFlowRate | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Max. WOB</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.maxWOB" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.maxWOB | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Max. Difference Pressure</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.maxDiffPressure" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.maxDiffPressure | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Max. Torque</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.maxTorque" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.maxTorque | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Max. Power</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.maxPower" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.maxPower | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Length</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.length" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.length | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Weight</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.weight" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.weight | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bend Type</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.bendType" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.bendType | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Description</div>
                          <div class="col-8 dashboard-input">
                            <span editable-textarea="$ctrl.detail.description" e-rows="4" onaftersave="$ctrl.update()" e-maxlength="250" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.description | available }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /Motor -->

                      <!-- Water Pump -->
                      <div ng-switch-when="WATERPUMP">
                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Name</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.name" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50" e-required>
                              {{ $ctrl.detail.name | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Model</div>
                          <div class="col-8 dashboard-input">
                            <span editable-text="$ctrl.detail.model" onaftersave="$ctrl.update()" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')" e-maxlength="50">
                              {{ $ctrl.detail.model | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Pounds Per Square Inch</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.poundsPerSquareInch" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.poundsPerSquareInch | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Efficiency</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.efficiency" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.efficiency | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Equivalent Circulating Density</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.equivalentCirculatingDensity" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.equivalentCirculatingDensity | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Annular Velocity Drill Pipe</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.annularVelocityDrillPipe" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.annularVelocityDrillPipe | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Annular Velocity Drill Collar</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.annularVelocityDrillCollar" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.annularVelocityDrillCollar | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Bit HHP</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.bitHHP" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.bitHHP | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Pump HHP</div>
                          <div class="col-8 dashboard-input">
                            <span editable-number="$ctrl.detail.pumpHHP" e-step="any" onaftersave="$ctrl.update()" e-required e-min="0" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.pumpHHP | number | available }}
                            </span>
                          </div>
                        </div>

                        <div class="dashboard-group">
                          <div class="col-4 dashboard-label">Description</div>
                          <div class="col-8 dashboard-input">
                            <span editable-textarea="$ctrl.detail.description" e-rows="4" onaftersave="$ctrl.update()" e-maxlength="250" edit-disabled="!$ctrl.session.can('catalog_entry', 'edit')">
                              {{ $ctrl.detail.description | available }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /Water Pump -->
                    </div>
                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
          </scrollable-tabset>
        </div>
      </div>
      <!-- /Tabs -->
    </div>
  </div>
</div>




