<div class="row">
  <div class="col-xl-4 col-lg-3">
    <button class="btn btn-default" print-area="['area1', 'area2']">Print multiple areas</button>
    <button class="btn btn-default" print-area="area1">Print single area</button>

    <div class="well" id="area1">
      <h1>{{ $ctrl.greetings | available }}</h1>
      <p class="lead">Kick-start your next web app with Scaffolar</p>
      <code>{{ $ctrl.translate | translate }}</code>

      <div uib-datepicker ng-model="dt" ></div>



      <input-switch ng-model="$ctrl.x" input-switch-class="danger">{{ $ctrl.x | json }}</input-switch>

      <input-switch ng-model="$ctrl.y"></input-switch>

      <button class="btn btn-danger btn-outline">Hola mundo!</button>

      <p>
        <button class="btn btn-warning btn-circle" ng-click="$ctrl.remove()"><i class="fa fa-star"></i></button>
        <button class="btn btn-warning btn-circle btn-lg"><i class="fa fa-star"></i></button>
        <button class="btn btn-warning btn-circle btn-xl"><i class="fa fa-star"></i></button>
      </p>
    </div>

    <div class="row">
      <div class="col-xl-6"><div class="alert alert-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia et, iste esse commodi. Quidem provident odit iste repellendus ex nihil veniam id aliquid animi, voluptates aperiam soluta voluptatum, quasi recusandae!</div></div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-5">
            <div class="alert alert-danger" id="area2">Lorem ipsum dolor sit amet.</div>
          </div>
          <div class="col-xl-7">
            <div class="alert alert-info">Lorem ipsum dolor sit amet.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-3 col-md-6">
    <div class="box">
      <div class="panel panel-default">
        <div class="panel-heading">hello</div>
        <div class="panel-body">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="$ctrl.opened" ng-click="$ctrl.opened = true;"   show-button-bar="true" on-open-focus="true"/>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aspernatur fuga culpa error iste doloribus, doloremque maiores nulla ipsa necessitatibus fugit dicta ducimus, quos odio quod similique animi cupiditate obcaecati?

          <button class="btn btn-info">Button</button>

          <div class="alert alert-warning">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, excepturi hic unde eligendi obcaecati ullam sint porro a voluptatem ut natus, laboriosam accusantium dolor nisi sequi maiores at totam impedit.
          </div>

          <div class="alert alert-success">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, excepturi hic unde eligendi obcaecati ullam sint porro a voluptatem ut natus, laboriosam accusantium dolor nisi sequi maiores at totam impedit.
          </div>
        </div>

        <table ng-table="$ctrl.tableParams" class="table table-bordered table-striped" show-filter="true">
          <colgroup>
            <col width="70%">
          </colgroup>
          <tr ng-repeat="user in $data">
            <td title="'Name'" filter="{ name: 'text' }" sortable="'name'">
              <span editable-text="user.name" buttons="no" onaftersave="" onbeforesave="" e-required>
                {{ user.name | available }}
              </span>
            </td>
            <td title="'Age'" filter="{ age: 'number' }" sortable="'age'">
              <span editable-number="user.age" e-step="any" e-min="0" e-max="999" buttons="no" onaftersave="" onbeforesave="" e-required>
                {{ user.age | number | available }}
              </span>
            </td>
          </tr>
        </table>

        <div class="panel-body bordered-top">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sapiente magnam, velit praesentium non suscipit reiciendis nesciunt. Suscipit, repudiandae, eveniet odio quisquam maiores fugit expedita ducimus minima ratione, dignissimos blanditiis.
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6">
    <div class="jumbotron">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quasi architecto labore repudiandae quidem possimus fugiat nisi illo eaque molestias, enim facere autem a magnam, vel est culpa hic aliquam!
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis culpa provident sit nulla explicabo sed, impedit aut enim neque quam praesentium corporis voluptate dolores, voluptas totam deleniti, possimus magni! Similique.</p>

    <button class="btn btn-primary" ng-click="$ctrl.something()" ui-sref="root.test">Go test</button>
    <button class="btn btn-primary" ng-click="$ctrl.open()">Modal</button>
    <lithology-button path="lithology" ></lithology-button>
  </div>
</div>
