<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Water Pump Settings</h3>
  </div>

  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.waterPump.$invalid && form.waterPump.$touched, 'has-success': form.waterPump.$valid && form.waterPump.$touched }">
      <label for="waterPump" class="col-4 col-form-label">Water Pump</label>
      <div class="col-6">
        <input type="text" class="form-control" name="waterPump" id="waterPump" placeholder="" ng-model="$ctrl.data.waterPump" required uib-typeahead="item as item.name for item in $ctrl.getWaterPumps($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.waterPump.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.liner.$invalid && form.liner.$touched, 'has-success': form.liner.$valid && form.liner.$touched }" >
      <label for="liner" class="col-4 col-form-label">Liner</label>
      <div class="col-4">
        <input class="form-control" type="number" name="liner" id="liner" placeholder="" ng-model="$ctrl.data.liner" required min="0" step="any">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.liner.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 1.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.stroke.$invalid && form.stroke.$touched, 'has-success': form.stroke.$valid && form.stroke.$touched }" >
      <label for="stroke" class="col-4 col-form-label">Stroke</label>
      <div class="col-4">
        <input class="form-control" type="number" name="stroke" id="stroke" placeholder="" ng-model="$ctrl.data.stroke" required min="0" step="any">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.stroke.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 1.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>
    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.strokePerMinute.$invalid && form.strokePerMinute.$touched, 'has-success': form.strokePerMinute.$valid && form.strokePerMinute.$touched }">
      <label for="strokePerMinute" class="col-4 col-form-label">Stroke per minute</label>
      <div class="col-4">
        <input class="form-control" type="number" name="strokePerMinute" id="strokePerMinute" placeholder="" ng-model="$ctrl.data.strokePerMinute" required min="0" step="any">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.strokePerMinute.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 1.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>

    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || ($ctrl.data.waterPump && !$ctrl.data.waterPump.id)">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
