<div class="actions-bar bordered-top bordered-lr borderless-bottom">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.createWaterPumpSettings()" ng-disabled="!$ctrl.session.can('mud_check', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Water Pump Settings

  <div class="pull-right">
    <button class="btn btn-link pull-right" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
    <button class="btn btn-link pull-right" ng-click="$ctrl.filters = !$ctrl.filters" ><i class="fa fa-fw fa-filter"></i> Filters</button>
  </div>
</div>

<div class="table-frame hug">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="30%">
        <col width="17.5%">
        <col width="17.5%">
        <col width="17.5%">
        <col width="17.5%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td title="'Water Pump'" filter="{ 'waterPump.name': 'text' }" sortable="'waterPump.name'">
            <span editable-text="item.waterPump" e-uib-typeahead="item as item.name for item in $ctrl.getWaterPumps($viewValue)" onbeforesave="$ctrl.save($data, 'waterPump', item)" edit-disabled="!$ctrl.session.can('water_pump_settings', 'edit')" e-required>
              {{ item.waterPump.name | available }}
            </span>
          </td>

          <td title="'Liner'" filter="{ 'liner': 'number' }" sortable="'liner'" class="text-center">
            <span editable-number="item.liner" onbeforesave="$ctrl.save($data, 'liner', item)" edit-disabled="!$ctrl.session.can('water_pump_settings', 'edit')" e-required>
              {{ item.liner | available }}
            </span>
          </td>

          <td title="'Stroke'" filter="{ 'Stroke': 'number' }" sortable="'stroke'" class="text-center">
            <span editable-number="item.stroke" onbeforesave="$ctrl.save($data, 'stroke', item)" edit-disabled="!$ctrl.session.can('water_pump_settings', 'edit')" e-required>
              {{ item.stroke | available }}
            </span>
          </td>

          <td title="'Stroke per minute'" filter="{ 'stroke per minute': 'number' }" sortable="'strokePerMinute'" class="text-center">
            <span editable-number="item.strokePerMinute" onbeforesave="$ctrl.save($data, 'strokePerMinute', item)" edit-disabled="!$ctrl.session.can('water_pump_settings', 'edit')">
              {{ item.strokePerMinute | available }}
            </span>
          </td>

          <td title="'Gallons per second'" filter="{ 'gallons per second': 'number' }" sortable="'gallonsPerSecond'" class="text-center">
            {{ item.gallonsPerSecond | available }}
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>
