<form name="form" autocomplete="off">
  <div class="modal-header">
    <h3 class="modal-title">Picklist Management</h3>
  </div>
  <div class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }" >
    <uib-tabset type="pills" justified="true">
      <uib-tab index="0" heading="Alphanumeric Picklist">

        <div class="row">
          <div class="col-12 margin-sm-tb">
            <select class="form-control" ng-options="option.title for option in $ctrl.PICKLIS_TYPES" ng-model="$ctrl.picklistSelected" ng-change="$ctrl.load(option.endpoint)"></select>
          </div>

          <div ng-if="$ctrl.session.can('item', 'create')" class="col-12 margin-sm-bottom form-group" ng-class="{ 'has-error': form.val.$invalid && form.val.$touched, 'has-success': form.val.$valid && form.val.$touched }">
            <div class="input-group input-group-lg">
              <input id="val" name="val" class="form-control" placeholder="Create a new value..." type="text" ng-model="$ctrl.value" required maxlength="50">
              <span class="input-group-btn">
                <button class="btn" ng-class="{ 'btn-default': form.$invalid, 'btn-success': form.$valid }" type="button" ng-disabled="form.$invalid" uib-tooltip="Create this new value" ng-click="$ctrl.save($ctrl.value);form.$setPristine();form.$setUntouched()"><i class="fa fa-fw fa-plus"></i></button>
              </span>
            </div>
            <!-- Errors -->
            <span class="help-block" ng-messages="form.val.$error" role="alert">
              <span ng-message="required">This field is required.</span>
              <span ng-message="maxlength">Length must be lower than or equal to 50.</span>
            </span>
            <!-- /Errors -->
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover bordered" ng-table="$ctrl.tableParams">
            <colgroup>
              <col>
              <col width="100%">
              <col>
            </colgroup>
            <tbody>
              <tr ng-repeat="item in $data">
                <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>
                <td title="'Value'" sortable="'itemValue'" filter="{ itemValue: 'text' }">
                  {{ item.itemValue | available }}
                </td>
                <td title="'Active?'" sortable="'isActive'" class="text-center" >
                  <toggle ng-model="item.isActive" ng-change="$ctrl.update(item.isActive, 'isActive', item)" size="btn-xs" ng-disabled="!$ctrl.session.can('item', 'activate') || !$ctrl.session.can('item', 'deactivate')"></toggle>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>

      <!-- <uib-tab index="1" heading="Numeric Picklist">
        Coming soon...
      </uib-tab> -->
    </uib-tabset>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">Cancel</button>
  </div>
</form>










