<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Client</h3>
  </div>
  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }" >

    <div class="form-group row has-feedback"  ng-class="{ 'has-error': form.name.$invalid && form.name.$touched, 'has-success': form.name.$valid && form.name.$touched }">
      <label class="col-4 col-form-label" for="textinput">Name</label>
      <div class="col-6">
        <input type="text" name="name" id="name" class="form-control" ng-model="$ctrl.data.name" required placeholder="" required maxlength="50">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.name.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="maxlength">Length must be lower than or equal to 50.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="row margin-sm-bottom">
      <div class="col-6 offset-4">
        <button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.addEmail()">Add email</button>
      </div>
    </div>

    <div class="bordered margin-sm-bottom" ng-if="$ctrl.data.emails.length > 0">
      <table class="table table-hover hug">
        <colgroup>
          <col>
          <col width="100%">
        </colgroup>
        <thead>
          <th></th>
          <th class="text-center">Email Address</th>
        </thead>
        <tbody>
          <tr ng-repeat="email in $ctrl.data.emails track by $index">
            <td>
              <button class="btn btn-danger btn-outline btn-xs" uib-tooltip="Delete" ng-click="$ctrl.remove('emails', email)">
                <i class="fa fa-fw fa-times"></i>
              </button>
            </td>
            <td title="Email Address">
              <span>
                {{ email.emailAddress }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row margin-sm-bottom">
      <div class="col-6 offset-4">
        <button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.addPhone()">Add phone</button>
      </div>
    </div>

    <div class="bordered" ng-if="$ctrl.data.phones.length > 0">
      <table class="table table-hover hug">
        <colgroup>
          <col>
          <col width="33.333333333%">
          <col width="33.333333333%">
          <col width="33.333333333%">
        </colgroup>
        <thead>
          <th></th>
          <th class="text-center">Country Code</th>
          <th class="text-center">Area Code</th>
          <th class="text-center">Phone Number</th>
        </thead>
        <tbody>
          <tr ng-repeat="phone in $ctrl.data.phones track by $index">
            <td class="text-center">
              <button class="btn btn-danger btn-outline btn-xs" uib-tooltip="Delete" ng-click="$ctrl.remove('phones', phone)">
                <i class="fa fa-fw fa-times"></i>
              </button>
            </td>
            <td class="text-center" title="Country Code">
              {{ phone.countryCode }}
            </td>
            <td class="text-center" title="Area Code">
              {{ phone.areaCode }}
            </td>
            <td class="text-center" title="Phone Number">
              {{ phone.phoneNumber }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">Cancel</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.save()" ng-disabled="form.$invalid || $ctrl.isSaving"><i class="fa fa-fw fa-save"></i> Create</button>
  </div>
</form>
