<div class="actions-bar">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.openSettings()">
    <i class="fa fa-fw fa-cog"></i> Settings
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i> Reload</button>
  </div>
</div>

<div class="margin-sm-lr margin-sm-bottom">
  <div class="row">
    <div class="col-12 col-xl-12" ng-if="$ctrl.showSummary()">
      <div class="frame summary" cg-busy="$ctrl.isLoading">
        <div class="item">
          <div class="title">
            Active Jobs
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.activeJobs | number }}">
            {{ $ctrl.summary.activeJobs | numberPrettify }}
          </div>

          <div class="title-xs">
            Today
          </div>
        </div>

        <div class="item">
          <div class="title">
            Active Personnel
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.activePersonnel | number }}">
            {{ $ctrl.summary.activePersonnel | numberPrettify }}
          </div>

          <div class="title-xs">
            Today
          </div>
        </div>

        <div class="item">
          <div class="title">
            Created Jobs
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.createdJobs | number }}">
            {{ $ctrl.summary.createdJobs | numberPrettify }}
          </div>

          <div class="title-xs">
            Today
          </div>
        </div>

        <div class="item">
          <div class="title">
            Finished Jobs
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.finishedJobs | number }}">
            {{ $ctrl.summary.finishedJobs | numberPrettify }}
          </div>

          <div class="title-xs">
            Will finish today
          </div>
        </div>

        <div class="item">
          <div class="title">
            Monthly Failures
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.monthlyFailures | number }}">
            {{ $ctrl.summary.monthlyFailures | numberPrettify }}
          </div>

          <div class="title-xs">
            {{ $ctrl.today | date:'MMMM' }}
          </div>
        </div>

        <div class="item">
          <div class="title">
            Total Revenue
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.totalRevenue | number }}">
            {{ $ctrl.summary.totalRevenue | numberPrettify }}
          </div>

          <div class="title-xs">
            Today
          </div>
        </div>

        <div class="item">
          <div class="title">
            Worked Hours
          </div>

          <div class="title-xl" uib-tooltip="{{ $ctrl.summary.workedHours | number }}">
            {{ $ctrl.summary.workedHours | numberPrettify }}
          </div>

          <div class="title-xs">
            Today
          </div>
        </div>
      </div>
    </div>

    <div class="{{ report.sizeClass }}" ng-repeat="report in $ctrl.myDashboard" ng-if="report.active && $ctrl.session.can(report.permission, 'get')" ng-include="report._templateName"></div>
  </div>
</div>
