<div class="actions-bar hug">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('project', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Project
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame" cg-busy="$ctrl.loadingPromise" ng-class="{ 'hug borderless': $ctrl.client.id }">
  <div class="table-responsive">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col>
        <col width="33.4%">
        <col width="33.4%">
        <col width="33.4%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td class="text-center">
            <img class="circle" width="30" ng-src="{{ item.profilePicturePath | defaultImage }}" alt="">
          </td>

          <td title="'Name'" filter="{ name: 'text' }" sortable="'name'">
            <a href="" drilldown="{ title: item.name, component: 'projectsView', id: item.id }">{{ item.name | available }}</a>
          </td>

          <td title="'Description'" filter="{ description: 'text' }" sortable="'description'">
            {{ item.description | available }}
          </td>

          <td title="'Client'" filter="{ 'client.name': 'text' }" sortable="'client.name'">
            <a href="" drilldown="{ title: item.client.name, component: 'clientsView', id: item.client.id }">{{ item.client.name | available }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

