highchart {
  display: block;
  width: 100%;
  max-width: 100%;

  font-family: $font-family-sans-serif;

  * {
    font-family: $font-family-sans-serif;
  }
}


p { color: #f7464a }
p { color: #46bfbd }
p { color: #fdb45c }
p { color: #DC6900 }
p { color: #4d5360 }
p { color: #2E7D32 }
p { color: #5E35B1 }
p { color: #FF4081 }
p { color: #2b908f }
p { color: #dcdcdc }
p { color: #0091EA }
p { color: #949fb1 }
p { color: #97bbcd }