.nav-tabs {
  background-color: #fff;

  a {
    line-height: 2 !important;
  }

  li > a {
    text-align: center;
    color: #999;
  }

  li.active {
    a {
      font-weight: bold;
      color: $brand-primary !important;
      border-bottom: 3px solid $brand-primary !important;
    }
  }

  li:hover {
    a {
      background-color: #fff;
      border-color: transparent;
      border-bottom: 3px solid darken($brand-primary, 5%);
    }
  }
}

.nav-pills {
  li > a {
    background-color: #f9f9f9;
    text-align: center;
    min-width: 100px;
    color: #999;
  }
}
