<form name="form" autocomplete="off">
  <div class="modal-header" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title">Create Inventory</h3>
  </div>
  <div uib-collapse="isCollapsed" class="modal-body" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.catalogEntry.$invalid && form.catalogEntry.$touched, 'has-success': form.catalogEntry.$valid && form.catalogEntry.$touched }">
      <label for="catalogEntry" class="col-4 col-form-label">Catalog Entry</label>
      <div class="col-6">
        <input type="text" class="form-control" name="catalogEntry" id="catalogEntry" placeholder="" ng-model="$ctrl.data.catalogEntry" required uib-typeahead="item as (item.name + (item.model ? ' (' + item.model + ')' : '')) for item in $ctrl.getCatalogEntries($viewValue)" typeahead-show-hint="true" typeahead-min-length="3" typeahead-editable="false" typeahead-append-to-body="true">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.catalogEntry.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row" ng-if="$ctrl.data.catalogEntry && $ctrl.data.catalogEntry.serialNumber">
      <label for="serialNumber" class="col-4 col-form-label">Serial Number</label>
      <div class="col-6">
        <input class="form-control" type="text" placeholder="" ng-model="$ctrl.data.catalogEntry.serialNumber" ng-disabled="true">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.quantityAvailable.$invalid && form.quantityAvailable.$touched, 'has-success': form.quantityAvailable.$valid && form.quantityAvailable.$touched }">
      <label for="quantityAvailable" class="col-4 col-form-label">Quantity</label>
      <div class="col-4">
        <input class="form-control" type="number" name="quantityAvailable" id="quantityAvailable" placeholder="" ng-model="$ctrl.data.quantityAvailable" required min="0" step="1">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.quantityAvailable.$error" role="alert">
          <span ng-message="required">This field is required.</span>
          <span ng-message="min">Value must be greater than or equal to 0.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.storage.$invalid && form.storage.$touched, 'has-success': form.storage.$valid && form.storage.$touched }">
      <label for="storage" class="col-4 col-form-label">Storage</label>
      <div class="col-6">
        <input type="text" class="form-control" name="storage" id="storage" placeholder="" ng-model="$ctrl.data.storage" required uib-typeahead="item as item.name for item in $ctrl.getStorages($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true" typeahead-on-select="$ctrl.onStorageSelected($item, $model, $label, $event)" ng-change="$ctrl.checkStorage()">
        <!-- Errors -->
        <span class="help-block" ng-messages="form.storage.$error" role="alert">
          <span ng-message="required">This field is required.</span>
        </span>
        <!-- /Errors -->
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.sector.$invalid && form.sector.$touched, 'has-success': form.sector.$valid && form.sector.$touched }">
      <label for="sector" class="col-4 col-form-label">Sector</label>
      <div class="col-6">
        <input type="text" class="form-control" name="sector" id="sector" placeholder="" ng-model="$ctrl.data.sector" uib-typeahead="item as item.name for item in $ctrl.getSectors($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true" ng-disabled="!$ctrl.data.storage.id" typeahead-on-select="$ctrl.onSectorSelected($item, $model, $label, $event)" ng-change="$ctrl.checkSector()">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.rack.$invalid && form.rack.$touched, 'has-success': form.rack.$valid && form.rack.$touched }">
      <label for="rack" class="col-4 col-form-label">Rack</label>
      <div class="col-6">
        <input type="text" class="form-control" name="rack" id="rack" placeholder="" ng-model="$ctrl.data.rack" uib-typeahead="item as item.name for item in $ctrl.getRacks($viewValue)" typeahead-show-hint="true" typeahead-min-length="2" typeahead-editable="false" typeahead-append-to-body="true" ng-disabled="!$ctrl.data.sector.id" typeahead-on-select="$ctrl.onRackSelected($item, $model, $label, $event)" ng-change="$ctrl.checkRack()">
      </div>
    </div>

    <div class="form-group row has-feedback" ng-class="{ 'has-error': form.shelf.$invalid && form.shelf.$touched, 'has-success': form.shelf.$valid && form.shelf.$touched }">
      <label for="shelf" class="col-4 col-form-label">Shelf</label>
      <div class="col-6">
        <input type="text" class="form-control" name="shelf" id="shelf" placeholder="" ng-model="$ctrl.data.shelf" uib-typeahead="item as item.name for item in $ctrl.getShelves($viewValue)" typeahead-show-hint="true" typeahead-min-length="1" typeahead-editable="false" typeahead-append-to-body="true" ng-disabled="!$ctrl.data.rack.id">
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving || $ctrl.validatePicklists()">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
