<div class="actions-bar borderless-top borderless-lr">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('inventory_entry', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Inventory Entry
  </button>

  <span ng-if="$ctrl.storage" class="inline-block margin-sm-left">
    <strong>Storage:</strong>
    <span class="text-muted">{{ $ctrl.storage.name }}</span>
  </span>

  <!-- <div class="btn-group" ng-if="$ctrl.storage">
    <label class="btn btn-default" ng-model="$ctrl.filterByStorage" uib-btn-radio="true" ng-click="$ctrl.load()">{{ $ctrl.storage.name }}</label>
    <label class="btn btn-default" ng-model="$ctrl.filterByStorage" uib-btn-radio="false" ng-click="$ctrl.load()">General Inventory</label>
  </div> -->

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame hug borderless">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col ng-if="$ctrl.selectable || $ctrl.select">
        <col ng-if="$ctrl.ship">
        <col>
        <col width="12.142%">
        <col width="15%">
        <col width="12.142%">
        <col width="12.142%">
        <col>
        <col>
        <col width="12.142%">
        <col width="12.142%">
        <col width="12.142%">
        <col width="12.142%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data" ng-class="{ 'info': $ctrl.itemSelected.id === item.id, 'warning': !item.quantityAvailable }">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td ng-if="$ctrl.selectable || $ctrl.select" class="text-center">
            <i class="fa fa-lg pointer" ng-class="{ 'fa-circle-o': $ctrl.itemSelected.id !== item.id, 'fa-dot-circle-o': $ctrl.itemSelected.id === item.id, 'click-disabled text-muted': !item.quantityAvailable }" ng-click="$ctrl.itemSelected = item;$ctrl.select({ data: item })"></i>
          </td>

          <td class="text-center" ng-if="$ctrl.ship">
            <button class="btn btn-success btn-xs" ng-click="$ctrl.ship({ data: item })" uib-tooltip="Ship" tooltip-append-to-body="true" ng-disabled="!item.quantityAvailable">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </td>

          <td class="bha-min-schematic">
            <img ng-src="{{ item.catalogEntry.imagePath }}"/>
          </td>

          <td title="'Type'" filter="{ 'catalogEntry.itemType': 'select' }" filter-data="$ctrl.typesArray" sortable="'catalogEntry.itemType'" class="text-nowrap">
            <div>{{ item.catalogEntry.itemType | type:{ 'BHACOMPONENT': 'BHA Component', 'BIT': 'Drill Bit', 'MOTOR': 'Motor', 'WATERPUMP': 'Water Pump' } | available }}</div>
            <div ng-if="item.catalogEntry.isBHAPart" class="badge">BHA Piece</div>
          </td>

          <td title="'Catalog Entry'" filter="{ 'catalogEntry.name': 'text' }" sortable="'catalogEntry.name'" class="row-textarea">
            <a href="" class="bold" drilldown="{ title: item.catalogEntry.name, component: 'catalogsView', id: item.catalogEntry.id }">{{ item.catalogEntry.name | available }}</a>
            <div class="small text-muted" ng-if="item.catalogEntry.description">
              <strong>Description:</strong> {{ item.catalogEntry.description | available }}
            </div>
            <div class="small text-muted" ng-if="item.catalogEntry.serialNumber">
              <strong>S/N:</strong> {{ item.catalogEntry.serialNumber | available }}
            </div>
          </td>

          <td title="'Model'" filter="{ 'catalogEntry.model': 'text' }" sortable="'catalogEntry.model'" class="text-nowrap">
            {{ item.catalogEntry.model | available }}
          </td>

          <td title="'Manufacturer'" filter="{ 'catalogEntry.manufacturer.itemValue': 'text' }" sortable="'catalogEntry.manufacturer.itemValue'" class="text-nowrap">
            {{ item.catalogEntry.manufacturer.itemValue | available }}
          </td>

          <td title="'Qty. Available'" filter="{ quantityAvailable: 'number' }" sortable="'quantityAvailable'" class="text-center">
            <span editable-number="item.quantityAvailable" e-step="1" onbeforesave="$ctrl.save($data, 'quantityAvailable', item)" e-required e-min="0" edit-disabled="!$ctrl.session.can('inventory_entry', 'edit')">
              {{ item.quantityAvailable | number | available }}
            </span>
          </td>

          <td title="'Qty. On Transit'" filter="{ quantityOnTransit: 'number' }" sortable="'quantityOnTransit'" class="text-center">
            {{ item.quantityOnTransit | number | available }}
          </td>

          <td ng-if="$ctrl.ship || $ctrl.selectable || $ctrl.select" colspan="4" title="'Storage'" filter="{ 'storage.name': 'text' }" sortable="'storage.name'" class="text-nowrap">
            <div class="bold">{{ item.storage.name | available }}</div>
            <div ng-if="item.sector" class="text-muted small"><strong>Sector:</strong> {{ item.sector.name | available }}</div>
            <div ng-if="item.rack" class="text-muted small"><strong>Rack:</strong> {{ item.rack.name | available }}</div>
            <div ng-if="item.shelf" class="text-muted small"><strong>Shelf:</strong> {{ item.shelf.name | available }}</div>
          </td>

          <td ng-if="!($ctrl.ship || $ctrl.selectable || $ctrl.select)" title="'Storage'" filter="{ 'storage.name': 'text' }" sortable="'storage.name'" class="text-nowrap">
            <span editable-select="item.storage" e-ng-options="item as item.name for item in $ctrl.storages" onbeforesave="$ctrl.update($data, 'storage', item)" e-required edit-disabled="!$ctrl.session.can('inventory_entry', 'edit')" onshow="$ctrl.getStorages(item)">
              {{ item.storage.name | available }}
            </span>
          </td>

          <td ng-if="!($ctrl.ship || $ctrl.selectable || $ctrl.select)" title="'Sector'" filter="{ 'sector.name': 'text' }" sortable="'sector.name'" class="text-nowrap">
            <span editable-select="item.sector" e-ng-options="item as item.name for item in $ctrl.sectors" onbeforesave="$ctrl.update($data, 'sector', item)" e-required edit-disabled="!$ctrl.session.can('inventory_entry', 'edit')" onshow="$ctrl.getSectors(item)">
              {{ item.sector.name | available }}
            </span>
          </td>

          <td ng-if="!($ctrl.ship || $ctrl.selectable || $ctrl.select)" title="'Rack'" filter="{ 'rack.name': 'text' }" sortable="'rack.name'" class="text-nowrap">
            <span editable-select="item.rack" e-ng-options="item as item.name for item in $ctrl.racks" onbeforesave="$ctrl.update($data, 'rack', item)" e-required edit-disabled="!$ctrl.session.can('inventory_entry', 'edit')" onshow="$ctrl.getRacks(item)">
              {{ item.rack.name | available }}
            </span>
          </td>

          <td ng-if="!($ctrl.ship || $ctrl.selectable || $ctrl.select)" title="'Shelf'" filter="{ 'shelf.name': 'text' }" sortable="'shelf.name'" class="text-nowrap">
            <span editable-select="item.shelf" e-ng-options="item as item.name for item in $ctrl.shelves" onbeforesave="$ctrl.save($data, 'shelf', item)" e-required edit-disabled="!$ctrl.session.can('inventory_entry', 'edit')" onshow="$ctrl.getShelves(item)">
              {{ item.shelf.name | available }}
            </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
