<div class="actions-bar bordered-top bordered-lr borderless-bottom">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()"  ng-disabled="!$ctrl.session.can('activity', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Activity
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
  </div>
</div>

<div class="table-frame hug" cg-busy="$ctrl.loadingPromise">
  <div class="table-responsive">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="8.5714%">
        <col>
        <col>
        <col width="8.5714%">
        <col width="15%">
        <col width="8.5714%">
        <col width="8.5714%">
        <col width="25%">
        <col width="8.5714%">
        <col width="8.5714%">
        <col width="8.5714%">
        <col>
      </colgroup>
      <tbody>
        <tr ng-repeat-start="item in $ctrl.data track by item.id">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td header-title="'Wellbore'" title="'WB'" filter="{ 'wellbore.name': 'text' }" class="text-center">
            <span editable-select="item.wellbore" e-ng-options="item as item.name for item in $ctrl.wellbores" onbeforesave="$ctrl.save($data, 'wellbore', item)" e-required edit-disabled="!$ctrl.session.can('activity', 'edit')" onshow="$ctrl.getWellbores()">
              {{ item.wellbore.name | available }}
            </span>
          </td>

          <td title="'From'" class="text-center" ng-class="{ 'warning': item.invalidTime }">
            <span ng-switch="$first">
              <span ng-switch-when="true">
                <span editable-timepicker="item.startTime" onbeforesave="$ctrl.save($data, 'startTime', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')" e-required>
                  {{ item.startTime | date:'HH:mm' | available }}
                </span>
              </span>
              <span ng-switch-default>
                {{ item.startTime | date:'HH:mm' | available }}
              </span>
            </span>
          </td>

          <td title="'To'" class="text-center" ng-class="{ 'warning': item.invalidTime }">
            <span editable-timepicker="item.endTime" onbeforesave="$ctrl.save($data, 'endTime', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')" e-required> <!-- onaftersave="$ctrl.save(item.endTime, 'startTime', $ctrl.data[$index + 1])" -->
              {{ item.endTime | date:'HH:mm' | available }}
            </span>
          </td>

          <td title="'Hours'" filter="{ duration: 'number' }" class="text-center" ng-class="{ 'warning': item.invalidTime }">
            <span editable-number="item.duration" onaftersave="$ctrl.save(item.endTime, 'endTime', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')" e-step="any" e-min="0" e-max="24"><!-- ;$ctrl.save(item.endTime, 'startTime', $ctrl.data[$index + 1]) -->
              {{ item.duration | number:1 | available }}
            </span>
          </td>

          <td title="'Code'" filter="{ 'activityType.name': 'text' }" class="bold">
            {{ item.activityType.name | available }}
          </td>

          <td title="'Start'" filter="{ startDepth: 'number' }" class="text-center">
            <span editable-number="item.startDepth" onbeforesave="$ctrl.save($data, 'startDepth', item)" e-min="0" e-step="1" edit-disabled="!$ctrl.session.can('activity', 'edit')">
              {{ item.startDepth | number | available }}
            </span>
          </td>

          <td title="'End'" filter="{ endDepth: 'number' }" class="text-center">
            <span editable-number="item.endDepth" onbeforesave="$ctrl.save($data, 'endDepth', item)" e-min="0" e-step="1" edit-disabled="!$ctrl.session.can('activity', 'edit')">
              {{ item.endDepth | number | available }}
            </span>
          </td>

          <td title="'Comments'" filter="{ 'comments': 'text' }" class="row-textarea">
            <span editable-textarea="item.comments" e-rows="4" e-maxlength="500" onbeforesave="$ctrl.save($data, 'comments', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
              {{ item.comments | available }}
            </span>
          </td>

          <td title="'BHA'" filter="{ 'bha.name': 'number' }" class="text-center">
            <span editable-text="item.bha" e-uib-typeahead="item as item.name for item in $ctrl.getBHA($viewValue)" onbeforesave="$ctrl.save($data, 'wellbore', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
              {{ item.bha.name | available }}
            </span>
          </td>

          <td title="'MWD'" filter="{ 'measurementWhileDrilling.name': 'number' }" class="text-center">
            <span editable-text="item.measurementWhileDrilling" e-uib-typeahead="item as item.name for item in $ctrl.getTerms($viewValue)" onbeforesave="$ctrl.save($data, 'wellbore', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
              {{ item.measurementWhileDrilling.name | available }}
            </span>
          </td>

          <td title="'Phase'" filter="{ 'phase.name': 'number' }" class="text-center">
            <span editable-select="item.phase" e-ng-options="item as item for item in $ctrl.allPhases"  onbeforesave="$ctrl.save($data, 'phase', item)" edit-disabled="!$ctrl.session.can('user', 'edit')" e-required>
              {{ item.phase | type:{ 'HORIZONTAL': 'Horizontal', 'CURVE': 'Curve', 'VERTICAL': 'Vertical' } | available }}
            </span>
          </td>

          <td header-title="'Drilling Parameters'" title="'DP'" class="text-nowrap">
            <a href="" ng-click="item.isShowing = !item.isShowing" ng-if="item.activityType.hasDrillingParameters && item.drillingParameters.id">
              <i class="fa fa-fw" ng-class="{ 'fa-caret-down': !item.isShowing, 'fa-caret-up': item.isShowing }"></i>
            </a>
          </td>
        </tr>

        <!-- Drilling Params -->
        <tr ng-repeat-end ng-if="item.isShowing">
          <td colspan="13" class="sub-table-frame" cg-busy="$ctrl.loadingDrillingParametersPromise">
            <!-- CAMBIAR: aca van los DP's -->
            <div class="table-responsive">
              <table class="table table-bordered">
                <colgroup>
                  <col width="14.3%">
                  <col width="14.3%">
                  <col width="14.3%">
                  <col width="14.3%">
                  <col width="14.3%">
                  <col width="14.3%">
                  <col width="14.3%">
                </colgroup>
                <thead>
                  <th>RPM</th>
                  <th>WOB</th>
                  <th>Flow Rate</th>
                  <th>BHT</th>
                  <th>Pick Up</th>
                  <th>Slack Off</th>
                  <th>Rot. Off Bottom</th>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>
                      <span editable-number="item.drillingParameters.revolutionsPerMinuteAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'revolutionsPerMinuteAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.revolutionsPerMinuteAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.weightOnBitAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'weightOnBitAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.weightOnBitAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.flowRateAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'flowRateAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.flowRateAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.bottomHoleTempetureAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'bottomHoleTempetureAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.bottomHoleTempetureAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.pickUpAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'pickUpAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.pickUpAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.slackOffAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'slackOffAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.slackOffAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.rotOffBottomAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'rotOffBottomAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.rotOffBottomAvg | number | available }}
                      </span>
                    </td>
                  </tr>
                </tbody>

                <thead>
                  <th>SPP On Bottom</th>
                  <th>SPP Off Bottom</th>
                  <th>Delta Pressure</th>
                  <th>Surface Torque</th>
                  <th>In Flow Tempeture</th>
                  <th>Out Flow Tempeture</th>
                  <th></th>
                </thead>

                <tbody>
                  <tr class="text-center">
                    <td>
                      <span editable-number="item.drillingParameters.standPipePressureOnBottomAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'standPipePressureOnBottomAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.standPipePressureOnBottomAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.standPipePressureOffBottomAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'standPipePressureOffBottomAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.standPipePressureOffBottomAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      {{ item.drillingParameters.deltaPressureAvg | number | available }}
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.surfaceTorqueAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'surfaceTorqueAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.surfaceTorqueAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.inFlowTempetureAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'inFlowTempetureAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.inFlowTempetureAvg | number | available }}
                      </span>
                    </td>

                    <td>
                      <span editable-number="item.drillingParameters.outFlowTempetureAvg" e-step="any" onbeforesave="$ctrl.saveDrillingParameters($data, 'outFlowTempetureAvg', item)" edit-disabled="!$ctrl.session.can('activity', 'edit')">
                        {{ item.drillingParameters.outFlowTempetureAvg | number | available }}
                      </span>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /DP's -->

          </td>
        </tr>
        <!-- /Drilling Params -->
      </tbody>
    </table>
  </div>
</div>
