<form id="workingDayNew" name="form" autocomplete="off">
  <div class="modal-header pointer" ng-click="isCollapsed = !isCollapsed">
    <h3 class="modal-title pull-left">Create Day</h3>
  </div>
  <div class="modal-body" uib-collapse="isCollapsed" cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Saving...' : 'Loading...' }">
    <div class="bordered" uib-datepicker ng-model="$ctrl.data.date" datepicker-options="$ctrl.options" required></div>

    <div class="margin-sm-top hug-bottom text-center well" ng-if="$ctrl.data.date">
      <h3 class="hug">{{ $ctrl.data.date | date:'dd/MMM/yyyy' }}</h3>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-outline" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.isSaving">
      Cancel
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid || $ctrl.isSaving">
      <i class="fa fa-fw fa-save"></i> Create
    </button>
  </div>
</form>
