<div class="actions-bar">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('shelf', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Shelf
  </button>

  <div class="pull-right">
    <button class="btn btn-link" ng-click="$ctrl.filters = !$ctrl.filters"><i class="fa fa-fw fa-filter"></i> Filters</button>
    <!-- <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button> -->
  </div>
</div>

<div class="table-frame hug borderless">
  <div class="table-responsive" cg-busy="$ctrl.loadingPromise">
    <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="$ctrl.filters">
      <colgroup>
        <col>
        <col width="100%">
      </colgroup>
      <tbody>
        <tr ng-repeat="item in $data">
          <td class="table-numeration">{{ $ctrl.count + $index + 1 }}</td>

          <td title="'Name'" filter="{ 'name' : 'text' }" sortable="'name'">
            <span editable-text="item.name" onbeforesave="$ctrl.save($data, 'name', item)" e-required e-maxlength="50" edit-disabled="!$ctrl.session.can('shelf', 'edit')">
              {{ item.name | available }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
