<div class="dashboard">
  <!-- Main actions -->
  <div class="actions-bar hug">
    <button class="btn btn-primary btn-outline" ng-click="$ctrl.createPositionType()" ng-if="$ctrl.session.can('personnel_position', 'create')">
      Create Position Type
    </button>
    <button class="btn btn-primary btn-outline" ng-click="$ctrl.createContractType()" ng-if="$ctrl.session.can('personnel_contract_type', 'create')">
      Create Contract Type
    </button>

    <div class="pull-right">
      <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i>  Reload</button>
      <comments id="$ctrl.data.id" button-class="btn-default"></comments>
      <attachment id="$ctrl.data.id" button-class="btn-default"></attachment>
    </div>
  </div>
  <!-- /Main actions -->

  <div class="margin-sm">
    <div class="row">
      <collapsable-panel></collapsable-panel>

      <!-- Job board -->
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="panel panel-default" cg-busy="$ctrl.loadingPromise">
          <div class="panel-heading">
            Personnel
          </div>
          <!-- Body -->
          <div class="panel-body">
            <div class="dashboard-body">
              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Name</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.name" onbeforesave="$ctrl.save($data, 'name')" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.name | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Email</div>
                <div class="col-8 dashboard-input">
                  <span editable-email="$ctrl.data.email" onbeforesave="$ctrl.save($data, 'email')" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.email | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Cellphone Number</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.cellPhoneNumber" onbeforesave="$ctrl.save($data, 'cellPhoneNumber')" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.cellPhoneNumber | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Job Phone Number</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.jobPhoneNumber" onbeforesave="$ctrl.save($data, 'jobPhoneNumber')" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-maxlength="50">
                    {{ $ctrl.data.jobPhoneNumber | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Other Phone Number</div>
                <div class="col-8 dashboard-input">
                  <span editable-text="$ctrl.data.otherPhoneNumber" onbeforesave="$ctrl.save($data, 'otherPhoneNumber')" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required e-maxlength="50">
                    {{ $ctrl.data.otherPhoneNumber | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">User</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.user" e-ng-options="user as user.name for user in $ctrl.users" onshow="$ctrl.getUsers()" onbeforesave="$ctrl.save($data, 'user', data)" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required>
                    {{ $ctrl.data.user.name | available }}
                  </span>
                </div>
              </div>
              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Position Type</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.positionType" e-ng-options="type as type.itemValue for type in $ctrl.positions" onshow="$ctrl.getPositions()" onbeforesave="$ctrl.save($data, 'positionType', $ctrl.data)" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required>
                    {{ $ctrl.data.positionType.itemValue | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Contract Type</div>
                <div class="col-8 dashboard-input">
                  <span editable-select="$ctrl.data.contractType" e-ng-options="type as type.itemValue for type in $ctrl.contracts" onshow="$ctrl.getContractTypes()" onbeforesave="$ctrl.save($data, 'contractType', $ctrl.data)" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required>
                    {{ $ctrl.data.contractType.itemValue | available }}
                  </span>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Date of Hire</div>
                <div class="col-8 dashboard-input">
                  <span editable-date="$ctrl.data.hiredAt" onbeforesave="$ctrl.save($data, 'hiredAt', item)" edit-disabled="!$ctrl.session.can('personnel', 'edit')" e-required>
                    {{ $ctrl.data.hiredAt | available | date:"dd/MM/yyyy"}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- /Body -->
        </div>
      </div>
      <!-- /Job board -->

      <!-- Tabs -->
      <!-- <div class="col">
        <scrollable-tabset auto-recalculate="true">
          <uib-tabset justified="false">
            <uib-tab index="0" heading="Tab One">
              <h2>Bye</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam adipisci, perferendis cupiditate ab facilis quis ipsum quibusdam. Aliquid sed eum non aspernatur totam id, deleniti nobis mollitia magnam, recusandae natus!</p>
            </uib-tab>
            <uib-tab index="1" heading="Tab Two">
              <h2>Hello</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quos itaque similique porro nostrum ex odio voluptas vitae, nisi blanditiis esse expedita error fugit hic quam dignissimos quas facilis. Deserunt!</p>
            </uib-tab>
          </uib-tabset>
        </scrollable-tabset>
      </div> -->
      <!-- /Tabs -->
    </div>
  </div>
</div>

