/* --- Tree --- */
.tree-node {
	cursor: initial;
	// display: flex;
}

.tree-node-content {
  margin: 5px;
  font-weight: normal;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.node-title {
	flex-grow: 6;
	line-height: 30px;

	small + & {
		padding-left: 40px;
	}
}

.row-separator {
	width: 200vw;
	background-color: #ddd;
	margin-left: -50vw;
	height: 1px;
}

#tree-root {
	overflow-x: hidden;
}

.region-name {
	font-weight: bold;
	padding-left: 55px;
	line-height: 30px;
	flex-grow: 6;
}

.btn-add {
	margin-left: 10vw;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.not-visible {
	visibility: hidden;
}