<div class="actions-bar hug">
  <button class="btn btn-primary btn-outline" ng-click="$ctrl.create()" ng-if="$ctrl.session.can('region', 'create')">
    <i class="fa fa-fw fa-plus"></i> Create Region
  </button>
</div>

<div class="table-frame">
  <etree data="$ctrl.data"
         toggle-fn="$ctrl.loadChildrens(node)"
         add-fn="$ctrl.add(node)"
         title="Region name"
         label-field="name"
         children-field="children"
         loaded-field="loadedData"
         promise="$ctrl.loadingPromise"
         edit-fn="$ctrl.update(node)"
         remove-fn="$ctrl.delete(node)"
         hide-add="!$ctrl.session.can('region', 'create')"
         hide-edit="!$ctrl.session.can('region', 'edit')"
         hide-remove="!$ctrl.session.can('region', 'delete')"
         show-filter="true"
         reload-fn="$ctrl.load()"
         show-reload="true"></etree>
</div>

