<div class="dashboard">
  <!-- Main actions -->
  <div class="actions-bar hug">
    <div class="pull-right">
      <button class="btn btn-link" ng-click="$ctrl.load()"><i class="fa fa-fw fa-refresh"></i> Reload</button>
      <comments id="$ctrl.data.id" button-class="btn-default"></comments>
      <attachment id="$ctrl.data.id" button-class="btn-default"></attachment>
    </div>
  </div>
  <!-- /Main actions -->

  <div class="margin-sm">
    <div class="row">
      <collapsable-panel></collapsable-panel>

      <!-- Job board -->
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="panel panel-default" cg-busy="$ctrl.loadingPromise">
          <div class="panel-heading">
            Shipping Order Information
          </div>
          <!-- Body -->
          <div class="panel-body">
            <div class="dashboard-body">
              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Number</div>
                <div class="col-8 dashboard-highlight">{{ $ctrl.data.shippingOrderNumber | available }}</div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">From</div>
                <div class="col-8 dashboard-input">
                  <strong>{{ $ctrl.data.fromStorage.name | available }}</strong>
                  <div class="small text-muted" ng-if="$ctrl.data.fromStorage.address">
                    <strong>Address:</strong> {{ $ctrl.data.fromStorage.address | available }}
                  </div>
                  <div class="small text-muted" ng-if="$ctrl.data.fromStorage.description">
                    <strong>Description:</strong> {{ $ctrl.data.fromStorage.description | available }}
                  </div>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label"></div>
                <div class="col-8 dashboard-input">
                  <i class="fa fa-truck fa-lg fa-flip-horizontal"></i>
                  <i class="fa fa-arrow-right"></i>
                  <div class="label label-success" ng-class="{ 'label-success': $ctrl.data.isComplete, 'label-warning': !$ctrl.data.isComplete }">{{ $ctrl.data.isComplete | conditional:'Completed':'Pending' }}</div>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">To</div>
                <div class="col-8 dashboard-input">
                  <strong>{{ $ctrl.data.toStorage.name | available }}</strong>
                  <div class="small text-muted" ng-if="$ctrl.data.toStorage.address">
                    <strong>Address:</strong> {{ $ctrl.data.toStorage.address | available }}
                  </div>
                  <div class="small text-muted" ng-if="$ctrl.data.toStorage.description">
                    <strong>Description:</strong> {{ $ctrl.data.toStorage.description | available }}
                  </div>
                </div>
              </div>

              <div class="dashboard-group">
                <div class="col-4 dashboard-label">Created On</div>
                <div class="col-8 dashboard-input">
                  {{ $ctrl.data.createdAt | date:'dd/MMM/yyyy@HH:mm' | available }}
                </div>
              </div>

              <div class="dashboard-group" ng-if="!$ctrl.data.isComplete">
                <div class="col-4 dashboard-label"></div>
                <div class="col-8 dashboard-input">
                  <button class="btn btn-primary btn-block" ng-click="$ctrl.complete()" ng-disabled="!$ctrl.session.can('job', 'edit')">
                    Complete
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /Body -->
        </div>
      </div>
      <!-- /Job board -->

      <!-- Tabs -->
      <div class="col">
        <div class="frame expand hug">
          <scrollable-tabset auto-recalculate="true">
            <uib-tabset justified="false">
              <uib-tab index="0" heading="Details">
                <!-- Shipping Order Lines -->
                <shipping-order-lines-list id="{{ $ctrl.data.id }}" shipping-order="$ctrl.data"></shipping-order-lines-list>
                <!-- /Shipping Order Lines -->
              </uib-tab>
            </uib-tabset>
          </scrollable-tabset>
        </div>
      </div>
      <!-- /Tabs -->
    </div>
  </div>
</div>




