#root-container {
  margin-left: $sidebar-width;
  animation: $sidebar-expand-animation _collapseSidebar;

  &.sidebar-open {
    margin-left: $expanded-sidebar-width;
    animation: $sidebar-expand-animation _expandSidebar;
  }

  overflow-x: hidden;
  margin-top: $navbar-height/* ($grid-gutter-width-base / 2) */;
  min-height: calc(100% - #{$navbar-height});
  height: calc(100% - #{$navbar-height});
}

root {
  position: absolute;
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
