<li class="dropdown dropdown-notifications">
  <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-click="$ctrl.NotificationsService.reset()">
    <i data-count="{{ $ctrl.NotificationsService.counter }}" class="fa fa-bell notification-icon"></i>
  </a>

  <div class="dropdown-container">
    <div class="dropdown-toolbar">
      <div class="dropdown-toolbar-actions">
        <a href="">Marcas todas como leídas</a>
      </div>
      <h3 class="dropdown-toolbar-title">Notificaciones ({{ $ctrl.notifications.length | number }})</h3>
    </div>

    <ul class="dropdown-menu" ng-click="$event.stopPropagation()">
      <not-found expression="!$ctrl.notifications.length" message="Sin notificaciones."></not-found>

      <li ng-repeat="item in $ctrl.notifications" class="notification notification-{{ item.status }}">
        <div class="media">
          <div class="media-left">
            <div class="media-object">
              <img ng-src="{{ item.user.img }}" class="circle" alt="Profile picture">
            </div>
          </div>
          <div class="media-body">
            <div ng-switch="item.type">
              <div ng-switch-when="comment">
                <!-- Comment -->
                <strong class="notification-title">
                  <a href="">{{ item.user.name }}</a> comentó en <a href="">{{ item.mention.name }}</a>
                </strong>
                <div class="notification-desc">{{ item.content }}</div>
                <div class="notification-meta">
                  <small class="timestamp">{{ item.createdAt | date:'dd/MMM/yyyy @ HH:mm' }}</small>
                </div>
                <!-- /Comment -->
              </div>
              <div ng-switch-when="fail">
                <!-- fail -->
                <strong class="notification-title">
                  <a href="">{{ item.user.name }}</a> ha cerrado consulta
                </strong>
                <div class="notification-meta">
                  <small class="timestamp">{{ item.createdAt | date:'dd/MMM/yyyy @ HH:mm' }}</small>
                </div>
                <!-- /fail -->
              </div>
              <div ng-switch-when="approvement">
                <!-- approvement -->
                <strong class="notification-title">
                  <a href="">Eduardo Lorenzo</a> quiere chatear
                </strong>
                <div class="notification-desc">
                  <p>{{ item.content }}</p>
                  <button class="btn btn-primary btn-outline btn-sm"><i class="fa fa-fw fa-check"></i> Aceptar</button>
                  <button class="btn btn-danger btn-outline btn-sm">Cancelar</button>
                </div>
                <div class="notification-meta">
                  <small class="timestamp">{{ item.createdAt | date:'dd/MMM/yyyy @ HH:mm' }}</small>
                </div>
                <!-- /approvement -->
              </div>
              <div ng-switch-when="attachment">
                <!-- attachment -->
                <strong class="notification-title">
                  <a href="">{{ item.user.name }}</a> te ha enviado una imagen
                </strong>
                <div class="notification-meta">
                  <small class="timestamp">{{ item.createdAt | date:'dd/MMM/yyyy @ HH:mm' }}</small>
                </div>
                <!-- /attachment -->
              </div>
              <div ng-switch-default>

              </div>
            </div>
          </div>
        </div>
      </li>

      <!-- <li class="notification notification-warning">
        <div class="media">
          <div class="media-left">
            <div class="media-object">
             <img src="http://lorempixel.com/50/50/food/" class="circle" alt="Name">
            </div>
          </div>
          <div class="media-body">
            <strong class="notification-title">
              <a href="">Nikola Tesla</a> resolved <a href="">T-14 - Awesome stuff</a>
            </strong>

            <div class="notification-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, aut quas omnis quaerat ea. Sunt, nemo, molestiae! Minima, culpa labore quam illum eveniet dolorum distinctio possimus, vero ducimus deserunt rem.</p>
              <button class="btn btn-primary btn-outline btn-sm"><i class="fa fa-fw fa-check"></i> Approve</button>
              <button class="btn btn-danger btn-outline btn-sm">Decline</button>
            </div>

            <div class="notification-meta">
              <small class="timestamp">27/Oct/2015 @ 08:00</small>
            </div>

          </div>
        </div>
      </li>

      <li class="notification">
        <div class="media">
          <div class="media-left">
            <div class="media-object">
             <img src="http://lorempixel.com/50/50/food/" class="circle" alt="Name">
            </div>
          </div>
          <div class="media-body">
            <strong class="notification-title">
              <a href="">James Bond</a> resolved <a href="">B-007 - Desolve Spectre organization</a>
            </strong>

            <div class="notification-meta">
              <small class="timestamp">01/Sept/2015 @ 08:00</small>
            </div>

          </div>
        </div>
      </li> -->
    </ul>

    <div class="dropdown-footer text-center">
      <a href="">Ver todas</a>
    </div>
  </div>
</li>
